.rich-content-editor__dynamic-editor {
    padding-right: 18em;
    border: $border solid var(--theme-neutral);
    border-radius: $border-radius;
    position: relative;

    .CodeMirror {
        border-radius: 0;
        border-bottom-left-radius: $border-radius;
        border-left: 0;
        border-bottom: 0;
        border-right: 0;
        height: 70vh;
    }
}

.rich-content-editor__content-editor {
    grid-column-start: 1;

    .rich-content-editor__toolbar {
        border-top-left-radius: $border-radius;
    }

    &:last-child {
        grid-column-end: 3;

        .rich-content-editor__toolbar {
            border-top-right-radius: $border-radius;
        }

        .CodeMirror {
            border-bottom-right-radius: $border-radius;
        }
    }
}

.rich-content-editor__media-editor {
    grid-column-start: 2;
    background-color: var(--background-dark);
    border-left: $border solid var(--theme-neutral);
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    overflow: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 18em;

    .rich-content-editor__media-editor-frame {
        display: flex;
        flex-direction: column;
        gap: $grid/2;
        padding: $grid/2;

        .rich-content-editor__media-list {
            margin: 0;

            table {
                margin: 0;
            }
        }

        >h1 {
            font-size: 1em;
            margin-top: 0 !important;
        }

        >* {
            &:first-child {
                margin-top: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        table {

            td:nth-child(2),
            td:nth-child(3) {
                width: 0;
                padding: 0;
            }
        }
    }
}