.autocomplete-selected-card .selected-card>div,
.autocomplete-results>div {
    &.page:before {
        display: block;
        content: 'article';
    }
}

.autocomplete-input-wrapper {
    position: relative;
    max-width: $line-length*2;
    width: 100%;

    input.autocomplete-input {
        width: 100%;
        max-width: 100%;
    }

    &.ui-focused {
        .autocomplete-input {
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
    }

    &.focused,
    &.ui-focused {
        .autocomplete-selected-card {
            display: none;
        }
    }
}

.autocomplete-results {
    min-height: 2rem+$grid;
    max-height: 30vh;
    overflow: auto;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    border: $border solid var(--theme-neutral);
    border-top: 0;
    background-color: var(--background-light);
    color: var(--color);
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    z-index: 1000;
    box-shadow: var(--shadow);
    line-height: 1.4;

    >div {
        &:nth-child(even) {
            background: transparent;
        }

        &:hover {
            background: var(--cue-interactive-a10);
            outline: 0;
        }

        &:focus {
            background: var(--cue-interactive-a20);
            outline: 0;
        }
    }

    &[data-autocomplete-state="error"] {

        &:before,
        &:after {
            visibility: visible;
        }

        &:after {
            font-size: 2em;
            color: var(--cue-danger);
            content: "\ef16";
            animation: none;
        }

        >div {
            display: none;
        }
    }

    &[data-autocomplete-state="no-results"] {

        &:before,
        &:after {
            visibility: visible;
        }

        &:after {
            color: var(--cue-warning);
            content: "no results";
            font-size: inherit;
            animation: none;
            font-family: $font-ui  !important;
            font-weight: bold;
        }

        >div {
            display: none;
        }
    }

    &[data-autocomplete-state="awaiting-input"] {

        &:before,
        &:after {
            visibility: visible;
        }

        &:after {
            font-size: 2em;
            color: var(--cue-interactive);
            content: "keyboard";
            animation: none;
        }

        >div {
            display: none;
        }
    }
}

.autocomplete-selected-card .selected-card>div,
.autocomplete-results>div {
    font-family: $font-ui;
    list-style-type: none;
    margin: 0;
    padding: $grid/2;
    cursor: pointer;
    background: rgba(var(--theme-neutral), 0.2);
    display: flex;
    align-items: center;

    &:before {
        @include material-icon;
        display: none;
        font-size: 2em;
        padding-right: $grid/2;
    }

    .title {
        font-weight: bold;
    }

    .meta {
        font-size: smaller;
        font-style: italic;
    }
}

.autocomplete-selected-card {
    width: 100%;
    display: flex;
    border: $border solid var(--theme-neutral);
    border-radius: $border-radius;
    background-color: var(--background-lighter);
    color: var(--color);
    box-sizing: border-box;

    .selected-card {
        flex-grow: 1;

        >div {
            background: transparent;
        }
    }

    .clear-selection {
        cursor: pointer;
        padding: 0 $grid/2;
        flex-basis: 2em;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0.25;

        &:hover,
        &:focus {
            opacity: 1;
        }

        &:before {
            @include material-icon;
            display: block;
            font-size: 2em;
            line-height: 1;
            content: 'backspace';
        }
    }
}