.autocomplete-selected-card .selected-card>div,
.autocomplete-results>div {
    &.page:before {
        display: block;
        content: '\efb2';
    }
}

.autocomplete-input-wrapper {
    position: relative;
    width: 100%;

    &.ui-focused {
        .autocomplete-input {
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
    }

    &.focused,
    &.ui-focused {
        .autocomplete-selected-card {
            display: none;
        }
    }
}

.autocomplete-results {
    min-height: 2rem+$grid-unit;
    max-height: 30vh;
    overflow: auto;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    border: $border-unit solid $color-neutral;
    border-top: 0;
    background-color: $body-bg;
    color: $body-fg;

    >div {
        &:nth-child(even) {
            background: transparent;
        }

        &:focus {
            background: rgba($color-interactive, 0.25);
            outline: 0;
        }
    }

    .meta {
        font-size: smaller;
        font-style: italic;
    }

    &[data-autocomplete-state="error"] {

        &:before,
        &:after {
            visibility: visible;
        }

        &:after {
            font-size: 2rem;
            color: $color-error;
            content: "\ef16";
            animation: none;
        }

        >div {
            display: none;
        }
    }

    &[data-autocomplete-state="no-results"] {

        &:before,
        &:after {
            visibility: visible;
        }

        &:after {
            color: $color-warning;
            content: "no results";
            font-size: inherit;
            animation: none;
            font-family: $font-ui !important;
            font-weight: bold;
        }

        >div {
            display: none;
        }
    }

    &[data-autocomplete-state="awaiting-input"] {

        &:before,
        &:after {
            visibility: visible;
        }

        &:after {
            font-size: 2rem;
            color: $color-interactive;
            content: "\ea54";
            animation: none;
        }

        >div {
            display: none;
        }
    }
}

.autocomplete-selected-card .selected-card>div,
.autocomplete-results>div {
    font-family: $font-ui;
    list-style-type: none;
    margin: 0;
    padding: $grid-unit/2;
    cursor: pointer;
    background: rgba($color-neutral, 0.2);
    display: flex;
    align-items: center;

    &:before {
        @include material-icon;
        display: none;
        font-size: 2rem;
        padding-right: $grid-unit/2;
    }
}

.autocomplete-selected-card {
    width: 100%;
    display: flex;
    border: $border-unit solid $color-neutral;
    border-radius: $border-radius;
    background-color: $body-bg;
    color: $body-fg;
    box-sizing: border-box;

    .selected-card {
        flex-grow: 1;

        >div {
            background: transparent;
        }
    }

    .clear-selection {
        cursor: pointer;
        padding: 0 $grid-unit/2;
        flex-basis: 2rem;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0.25;

        &:hover,
        &:focus {
            opacity: 1;
        }

        &:before {
            @include material-icon;
            display: block;
            font-size: 2rem;
            content: 'backspace';
        }
    }
}