.editable-table {
    box-sizing: border-box;
    max-width: 100%;
    max-height: 60vh;
    background: $color-neutral;
    overflow: auto;

    >table {
        background: $body-bg;
        color: $body-fg;
        width: auto;
        border: $grid-unit*2.5 solid $color-neutral;
    }

    td,
    th,
    tr {
        border: 0;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    td,
    th {
        padding: 0;
        margin: 0;
        position: relative;
        font-size: small;
        height: 5em;
        min-width: 20em;

        &.delete-hover {
            background: $color-warning;
            color: contrast-color($color-warning);
        }

        &.focused-cell {
            textarea {
                background-color: $body-bg;
                color: $body-fg;
                outline: 5px solid $body-bg;
                border-radius: 5px;
            }
        }

        &.add-column-right-hover {
            border-right: $border-unit solid $color-interactive;
        }

        &.add-column-left-hover {
            border-left: $border-unit solid $color-interactive;
        }

        &.add-row-above-hover {
            border-top: $border-unit solid $color-interactive;
        }

        &.add-row-below-hover {
            border-bottom: $border-unit solid $color-interactive;
        }
    }

    textarea {
        display: block;
        background: transparent;
        color: inherit;
        border: 0;
        border-radius: 0;
        width: 100%;
        height: 5em;
        resize: none;
    }

    .row-focused,
    .column-focused {
        background-color: rgba($color-interactive, 0.1);
    }

    .focused-cell {
        z-index: 99;
        transform: scale(1.02);

        textarea {
            z-index: 100;
            background-color: $body-bg;
            color: $body-fg;
        }
    }
}

.editable-table__controls {
    display: none;
}

td,
th {
    >.editable-table__controls {
        display: block;
    }

    .editable-table__controls__top,
    .editable-table__controls__bottom,
    .editable-table__controls__left,
    .editable-table__controls__right {
        @include drop-shadow(1);
        z-index: 101;
        position: absolute;
    }

    .editable-table__controls__top,
    .editable-table__controls__bottom {
        left: 0;
        right: 0;
    }

    .editable-table__controls__top {
        bottom: 100%;
    }

    .editable-table__controls__bottom {
        top: 100%;

        .toolbar__button__tooltip {
            top: auto !important;
            bottom: 100% !important;
        }
    }

    .editable-table__controls__left,
    .editable-table__controls__right {
        top: 0;
        bottom: 0;
        justify-content: center;
    }

    .editable-table__controls__left {
        right: 100%;
    }

    .editable-table__controls__right {
        left: 100%;

        &.toolbar--vertical {
            .toolbar__button {
                .toolbar__button__tooltip {
                    width: 150%;
                    top: 0 !important;
                    right: 100% !important;
                    left: auto !important;
                    bottom: auto !important;
                }
            }
        }
    }
}

// hide delete column controls when there's only one column
td,
th {
    &:first-child:last-child {
        .toolbar__button--delete-column {
            display: none;
        }
    }
}

// hide delete row controls when there's only one row
tr {
    &:first-child:last-child {
        .toolbar__button--delete-row {
            display: none;
        }
    }
}

// hide add row controls from header
thead {

    .toolbar__button--add-row-above,
    .toolbar__button--add-row-below {
        display: none;
    }
}

// hide add/delete column controls from body
tbody {

    .toolbar__button--add-column-left,
    .toolbar__button--add-column-right,
    .toolbar__button--delete-column {
        display: none;
    }
}

// hide delete row controls from all but last cell
.toolbar__button--delete-row {
    display: none;
}

td:last-child {
    .toolbar__button--delete-row {
        display: block;
    }
}