.ordering-input__option-list {
    border: $border solid var(--theme-neutral);
    border-radius: $border-radius;
    background: var(--background);
    color: var(--color);
    font-family: $font-ui;
    overflow: hidden;
    cursor: grab;

    &.ordering-input__option-list--dragging {
        border-color: var(--cue-interactive);
    }

    .ordering-input__option {
        &:nth-child(odd) {
            background: var(--cue-neutral-a20);
        }

        &.ordering-input__option--dragging {
            background: var(--cue-interactive);
            color: var(--cue-interactive-inv);
        }
    }
}

.ordering-input__option {
    display: flex;
}

.ordering-input__option__label {
    padding: $grid/2;
    flex-grow: 1;
}

.ordering-input__option__delete {
    padding: $grid/2;
    cursor: pointer;

    &:before {
        @include material-icon;
        content: "delete";
    }
}

.ordering-input__option--deleted {
    background: var(--cue-danger) !important;
    color: var(--cue-danger-inv) !important;

    &:nth-child(even) {
        background: var(--cue-danger-a90) !important;
    }

    .ordering-input__option__delete:before {
        content: "restore_from_trash";
    }
}