.inline-autoform {
    display: flex;
    max-width: $line-length;

    &.form--submitting {
        .submit-button {
            display: none;
        }
    }
}

.inline-form {
    display: flex;
    max-width: $line-length;
}

.autoform {
    &.form--submitting {
        .submit-button {
            display: none;
        }
    }
}