.notifications {
  max-height: 20em;
  overflow: auto;
}

.notification {
  background: #666;
  color: #fff;
  padding: 5pt;
  margin: 5pt 0;
}

.notifications .notification a {
  color: #fff !important;
  font-weight: bold;
}

.notifications .notification-confirmation {
  background-color: #2E7D32;
}

.notifications .notification-notice {
  background-color: #607D8B;
}

.notifications .notification-warning {
  background-color: #E65100;
}

.notifications .notification-error {
  background-color: #b71c1c;
}
