@mixin material-icon {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    letter-spacing: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
}

@mixin icofont {
    font-family: 'IcoFont' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
}

@function contrast-color ($color) {
    @if (lightness($color) > 50) {
        @return #000;
    }

    @else {
        @return #fff;
    }
}

@mixin focused {
    outline: 2px solid $color-info;
    position: relative;
}

@mixin highlight-block {
    margin: $grid-unit 0;
    padding-left: $grid-unit;
    border-left: $grid-unit solid $color-highlight;

    &.loading {
        border-color: $color-info;
    }

    &.error {
        border-color: $color-error;
    }
}

@mixin highlight-block-header {
    font-weight: bold;
    display: block;
    margin: 0;
    margin-left: -$grid-unit;
    padding: $grid-unit/2;
    font-size: large;
    background: $color-highlight;
    color: contrast-color($color-highlight);
}

@mixin accent-block {
    margin: $grid-unit 0;
    padding-left: $grid-unit/2;
    border-left: $grid-unit/2 solid $color-accent;

    &.loading {
        border-color: $color-info;
    }

    &.error {
        border-color: $color-error;
    }
}

@mixin accent-block-header {
    font-weight: bold;
    display: block;
    margin: 0;
    margin-left: -$grid-unit/2;
    padding: $grid-unit/2;
    font-size: larger;
    background: $color-accent;
    color: contrast-color($color-accent);
}

@mixin neutral-block {
    margin: $grid-unit 0;
    padding-left: $grid-unit/2;
    border-left: 2px solid $color-neutral;

    &.loading {
        border-color: $color-info;
    }

    &.error {
        border-color: $color-error;
    }
}

@mixin neutral-block-header {
    font-weight: bold;
    display: block;
    margin: 0;
    margin-left: -$grid-unit/2;
    padding: $grid-unit/2;
    font-size: medium;
    background: $color-neutral;
    color: contrast-color($color-neutral);
}

@mixin button {
    background: $color-highlight;
    color: contrast-color($color-highlight);
    border: 0;
    display: inline-block;
    padding: $grid-unit;
    cursor: pointer;
    z-index: 1;
    border-radius: $border-radius;
    font-weight: bold;

    &:hover {
        filter: saturate(1.5);
        z-index: 2;
    }

    &:active {
        filter: saturate(2);
        transform: scale(1);
    }

    &.confirmation {
        background: $color-confirmation;
        color: contrast-color($color-confirmation);
    }

    &.info {
        background: $color-info;
        color: contrast-color($color-info);
    }

    &.warning {
        background: $color-warning;
        color: contrast-color($color-warning);
    }

    &.error {
        background: $color-error;
        color: contrast-color($color-error);
    }
}

@mixin button-confirmation {
    @include button;
    background: $color-confirmation;
    color: contrast-color($color-confirmation);
}

@mixin button-info {
    @include button;
    background: $color-info;
    color: contrast-color($color-info);
}

@mixin button-warning {
    @include button;
    background: $color-warning;
    color: contrast-color($color-warning);
}

@mixin button-error {
    @include button;
    background: $color-error;
    color: contrast-color($color-error);
}