@function contrast-color($color) {
    @if (lightness($color) > 50) {
        @return #000;
    } @else {
        @return #fff;
    }
}

@mixin focused {
    outline: $border-unit solid $color-info;
    position: relative;
}

@mixin highlight-block {
    margin: $grid-unit 0;
    padding: $grid-unit/2;
    background-image: linear-gradient(to right, rgba($color-highlight, 0.15), rgba($color-highlight, 0));

    &.loading {
        border-color: $color-info;
    }

    &.error {
        border-color: $color-error;
    }
}

@mixin accent-block {
    margin: $grid-unit 0;
    padding: $grid-unit/2;
    background-image: linear-gradient(to right, rgba($color-accent, 0.15), rgba($color-accent, 0));

    &.loading {
        border-color: $color-info;
    }

    &.error {
        border-color: $color-error;
    }
}

@mixin neutral-block {
    margin: $grid-unit 0;
    padding: $grid-unit/2;
    background-image: linear-gradient(to right, rgba($color-neutral, 0.15), rgba($color-neutral, 0));

    &.loading {
        border-color: $color-info;
    }

    &.error {
        border-color: $color-error;
    }
}

@mixin button {
    display: block;
    box-sizing: border-box;
    background: $color-highlight;
    color: contrast-color($color-highlight) !important;
    display: inline-block;
    padding: $grid-unit/2;
    margin: $border-unit;
    border: 0;
    cursor: pointer;
    z-index: 1;
    border-radius: $border-radius;
    font-weight: bold;
    font-family: $font-ui;
    text-decoration: none;
    width: auto;

    &:hover {
        filter: saturate(1.5);
        z-index: 2;
    }

    &:active {
        filter: saturate(2);
        transform: scale(1);
    }

    &.confirmation {
        background: $color-confirmation;
        color: contrast-color($color-confirmation) !important;
    }

    &.info {
        background: $color-info;
        color: contrast-color($color-info) !important;
    }

    &.warning {
        background: $color-warning;
        color: contrast-color($color-warning) !important;
    }

    &.error {
        background: $color-error;
        color: contrast-color($color-error) !important;
    }
}

@mixin button-confirmation {
    @include button;
    background: $color-confirmation;
    color: contrast-color($color-confirmation);
}

@mixin button-info {
    @include button;
    background: $color-info;
    color: contrast-color($color-info);
}

@mixin button-warning {
    @include button;
    background: $color-warning;
    color: contrast-color($color-warning);
}

@mixin button-error {
    @include button;
    background: $color-error;
    color: contrast-color($color-error);
}

@mixin loading-overlay {
    position: relative;

    &:before,
    &:after {
        display: block;
        visibility: hidden;
        position: absolute;
        z-index: -1;
    }

    &:before {
        content: "";
        z-index: 100;
        background: rgba($body-bg, 0.95);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: block;
    }

    &:after {
        @include icofont;
        z-index: 101;
        color: $color-info;
        font-size: 3em;
        content: "\eff7";
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &.loading {
        &:before,
        &:after {
            visibility: visible;
        }

        &:after {
            animation-name: spin-loading-overlay;
            animation-duration: 1000ms;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }
    }

    &.error {
        &:after {
            color: $color-error;
            content: "\ef16";
            animation: none;
        }
    }

    &.noresults {
        &:after {
            color: $color-info;
            content: "\ea54";
            animation: none;
        }
    }

    @media screen and (prefers-color-scheme: dark) {
        &:before {
            background: rgba($dark-body-bg, 0.9);
        }

        &:after {
            color: $color-info;
        }
    }
}
