@import '/mixins/core.scss';

.embedded-iframe-wrapper {
    @include loading-overlay;

    display: block;
    position: relative;
    min-height: 5em;

    iframe {
        display: block;
        border: 0;
        width: 100%;
    }
}