{
    "errors": {
        "display_trace": true
    },
    "cache": {
        "ttl": 0
    },
    "files": {
        "ttl": 0,
        "css": {
            "minify": true,
            "sourcemap": true,
            "keepimportantcomments": true
        }
    },
    "images": {
        "ttl": null
    },
    "theme": {
        "bundle_css": true,
        "timezone": "America/Denver"
    },
    "user_sources": {
        "cas": {
            "providers": {
                "demo": {
                    "active": true,
                    "name": "Mock CAS provider",
                    "mock_cas_user": true
                }
            }
        }
    }
}