.cm-s-digraph {
    background: var(--background);
    color: var(--color);

    .CodeMirror-scroll {
        background: var(--background);
        color: var(--color);
    }

    .CodeMirror-lines {
        margin: $grid/2;
    }

    .CodeMirror-cursor {
        border-left: 2px solid var(--cue-interactive) !important;
    }

    .CodeMirror-selected {
        background: var(--theme-highlight-a20);
    }

    span {
        &.cm-comment {
            color: var(--theme-neutral);
        }

        &.cm-keyword {
            line-height: 1em;
            font-weight: bold;
            color: var(--cue-interactive);
        }

        &.cm-string {
            color: var(--cue-warning);
        }

        &.cm-builtin {
            line-height: 1em;
            font-weight: bold;
            color: var(--theme-accent);
        }

        &.cm-special {
            line-height: 1em;
            font-weight: bold;
            color: var(--theme-highlight);
        }

        &.cm-variable {
            color: var(--color);
        }

        &.cm-number,
        &.cm-atom {
            color: var(--cue-safe);
        }

        &.cm-meta {
            color: var(--cue-information);
        }

        &.cm-link {
            color: var(--cue-safe);
        }
    }

    .CodeMirror-matchingbracket {
        outline: 1px solid var(--color);
        color: var(--color) !important;
    }
}