div[data-codemirror-mode="gfm"],
div[data-codemirror-mode="markdown"] {
    .cm-s-digraph {
        font-family: $font-content;
        padding: $grid-unit 0;
    }

    .CodeMirror-line {
        padding: 0 $grid-unit;
    }

    .cm-header {
        font-family: $font-header;
        font-weight: bold;
    }

    .cm-header-6 {
        font-size: 1.1em;
    }

    .cm-header-5 {
        font-size: 1.3em;
    }

    .cm-header-4 {
        font-size: 1.5em;
    }

    .cm-header-3 {
        font-size: 1.7em;
    }

    .cm-header-2 {
        font-size: 1.9em;
    }

    .cm-header-1 {
        font-size: 2.1em;
    }

    .cm-comment,
    .cm-tag,
    .cm-attribute,
    .cm-string,
    .cm-link,
    .cm-url {
        font-family: $font-code;
        font-weight: bold;
    }
}
