<!-- TODO: write breadcrumb template -->
{% if package.response.status == 200 and package.cms.helper('navigation').breadcrumb(package.url()) | length > 1 %}
  <div class="breadcrumb">
    {% for link in package.cms.helper('navigation').breadcrumb(package.url()) %}
      <span class="breadcrumb-item">
        {{link.html|raw}}
      </span>
    {% endfor %}
  </div>
{% endif %}