{% if package.cms.helper('navigation').menu('main') %}
  <nav role="navigation" class="menubar">
    {% for link in package.cms.helper('navigation').menu('main') %}
      {% set link = helper.link(link) %}
      {% do
        link.addClass('menuitem') %}
      {{link|raw}}
    {% endfor %}
  </nav>
{% endif %}
