{% if package.cms.config.nav %}
  <nav role="navigation">
    <div role="menubar">
      {% for slug in package.cms.config.nav %}
        {% set link = helper.link(slug) %}
        {% do 
          link.attr('role', 'menuitem') %}
        {{link|raw}}
      {% endfor %}
    </div>
  </nav>
{% endif %}