{% if package.cms.helper('navigation').menu('main') %}
  <nav role="navigation">
    <div role="menubar">
      {% for link in package.cms.helper('navigation').menu('main') %}
        {% set link = helper.link(link) %}
        {% do 
          link.attr('role', 'menuitem') %}
        {{link|raw}}
      {% endfor %}
    </div>
  </nav>
{% endif %}