<table width="100%" class="digraph-pdf-footer">
  <tr>
    <td width="50%">{{noun.url}}</td>
    <td style="text-align:center;">{DATE F j, Y}</td>
    <td style="text-align:right;" width="10%">{PAGENO}</td>
  </tr>
</table>
