/* {% if config.actions.enabledforguests or cms.helper('users').id() %} */
.digraph-actionbar {
  background: #1565C0;
  color: #fff;
  padding: 5pt;
  font-size: 0.8em;
}

.digraph-actionbar.inactive {
  display: none;
}

.digraph-actionbar:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
}

.digraph-actionbar a {
  color: #fff !important;
  opacity: 0.8;
  text-decoration: none;
  display: inline-block;
  padding: 0 0.5em;
}

.digraph-actionbar a:hover, .digraph-actionbar a[aria-selected="true"] {
  background: #fff;
  color: #1565C0 !important;
  opacity: 1;
  text-decoration: underline;
}

.digraph-actionbar-title {
  font-weight: bold;
  display: inline;
}

.digraph-actionbar-title:after {
  content: ':';
  display: inline;
}

/* {% endif %} */
