.digraph-actionbar {
  background: #1565C0;
  color: #fff;
  line-height:1.3em;
  font-size:1rem;
  font-family:sans-serif;
  padding:0 5pt;
}

.digraph-actionbar.inactive {
  display: none;
}

.digraph-actionbar:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
}

.digraph-actionbar a {
  color: #fff !important;
  opacity: 0.8;
  text-decoration: none;
  display: inline-block;
  padding: 2pt 5pt;
}

.digraph-actionbar .actionbar-adder {
  margin: 0 10pt;
}

.digraph-actionbar a:hover, .digraph-actionbar a[aria-selected="true"] {
  background: #fff;
  color: #1565C0 !important;
  opacity: 1;
  text-decoration: underline;
}

.digraph-actionbar-title {
  font-weight: bold;
  display: inline-block;
  padding: 2pt 5pt;
}

.digraph-actionbar-title:after {
  content: ':';
  display: inline;
}

#digraph-primary-actionbar {
  background: #1565C0;
  font-size:0;
}
#digraph-primary-actionbar:after {
  content:'';
  display:block;
  clear:both;
}
#digraph-primary-actionbar .digraph-actionbar-user {
  float:right;
  background:rgba(255,255,255,0.25);
  margin-left:1rem;
}
