{% if package.cms.helper('blocks').exists('template-extracolumn') %}
  <div class="layout-column-wrapper cols-2">
  {% else %}
    <div class="layout-column-wrapper cols-1">
    {% endif %}

    <div id="content" role="main">
      {% include cms.helper('templates').themeTemplate('partials/notifications.twig') %}
      {% include cms.helper('templates').themeTemplate('partials/breadcrumb.twig') %}

      {% include cms.helper('templates').themeTemplate('partials/block.twig')
        with {blockname:'template-content-before'} %}

      <article>

        <h1>{{page_title}}</h1>
        {% if page_title != package.url.text %}
          <h2>{{package.url.text}}</h2>
        {% endif %}
        {% include cms.helper('templates').themeTemplate('partials/block.twig')
          with {blockname:'template-title-after'} %}

        <div class="package-response-content">
          {{package.response.content|raw}}
        </div>

      </article>

      {% include cms.helper('templates').themeTemplate('partials/block.twig')
        with {blockname:'template-content-after'} %}

    </div>

    {% include cms.helper('templates').themeTemplate('partials/block.twig')
      with {blockname:'template-extracolumn'} %}

  </div>
