{% if package.cms.helper('blocks').exists('template-extracolumn') %}
  <div class="layout-column-wrapper cols-2">
  {% else %}
    <div class="layout-column-wrapper cols-1">
    {% endif %}

    <div id="content" role="main">
      {% include 'partials/notifications.twig' %}
      {% include 'partials/breadcrumb.twig' %}

      {% include 'partials/block.twig'
        with {blockname:'template-content-before'} %}

      <article>

        {% include 'partials/page_title.twig' %}
        {% include 'partials/block.twig'
          with {blockname:'template-title-after'} %}

        <div class="package-response-content">
          {{package.response.content|raw}}
        </div>

      </article>

      {% include 'partials/block.twig'
        with {blockname:'template-content-after'} %}

    </div>

    {% include 'partials/block.twig'
      with {blockname:'template-extracolumn'} %}

  </div>
