<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <title>{% include 'digraph/title.twig' %}</title>
    {% include 'digraph/head.twig' %}
  </head>

  <body>
    <div id="page-wrapper">
      {% for area in helper.areas %}
        {% include 'digraph/area.twig' with {area:area} %}
      {% endfor %}
    </div>

    <script src="{{url.base}}digraph-foot.js"></script>
  </body>

</html>
