<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <title>{% include 'digraph/title.twig' %}</title>
  {% include 'digraph/head.twig' %}
</head>

<body>
  <div id="page-wrapper">
    <div id="page-header">
      header
    </div>
    <div id="page-navigation">
      navigation
    </div>
    <div id="page-body" class="typesettings">
      body
    </div>
    <div id="page-footer">
      footer
    </div>
  </div>
</body>

</html>
