<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    {% block head_start %}{% include 'head_start.twig' %}{% endblock %}

    <title>
      {% block title %}
        {% include 'digraph/title.twig' %}
      {% endblock %}
    </title>
    {% include 'digraph/head.twig' %}

    {% block head_end %}{% include 'head_end.twig' %}{% endblock %}
  </head>

  <body>
    {% block body_start %}{% include 'body_start.twig' %}{% endblock %}

    <div id="page-wrapper">
      {% block page_wrapper_start %}{% include 'page_wrapper_start.twig' %}{% endblock %}

      {% block page_wrapper %}
        {% include 'digraph/areas.twig' with {
          areas : helper.areas
        } %}
      {% endblock %}

      {% block page_wrapper_end %}{% include 'page_wrapper_end.twig' %}{% endblock %}
    </div>

    <!-- foot javascript -->
    {% for file in helper.jsFoot %}
        <script src="{{file|raw}}"></script>
    {% endfor %}
    {% block body_end %}{% include 'body_end.twig' %}{% endblock %}
  </body>

</html>
