<div id="masthead-screen"{% if package.response.status == 200 and package.url.verb == 'display' and package.noun.hero %} class="page-has-hero"{% endif %}>
  <div class="digraph-masthead-wrapper">
    {% include 'masthead-screen.twig' %}
  </div>
  <div class="digraph-masthead-search">
    {% include 'digraph/search-form.twig' %}
  </div>
</div>
<div id="masthead-print">
  {% include 'masthead-print.twig' %}
</div>
