@import "/mixins/core.scss";

a:link {
    color: $color-link;
}

a:visited {
    color: $color-link-visited;
}

a:focus {
    color: $color-link-focus;
}

a:hover {
    color: $color-link-hover;
}

a:active {
    color: $color-link-active;
}

::selection,
::-moz-selection {
    background: $color-highlight;
    color: contrast-color($color-highlight);
}

:focus {
    @include focused;
}

button,
.button,
input[type=submit] {
    @include button;
}

input[type=submit] {
    @include button-confirmation;
}

.button-menu {
    input {
        border-radius: 0;

        &:first-of-type {
            border-bottom-left-radius: $border-radius;
            border-top-left-radius: $border-radius;
        }

        &:last-of-type {
            border-bottom-right-radius: $border-radius;
            border-top-right-radius: $border-radius;
        }
    }
}

.referenceable-block {
    position: relative;

    &:target {
        @include focused;
        outline-offset: $grid-unit/2;
    }

    .referenceable-block-link {
        @include icon;
        display: none;
        position: absolute;
        top: -0.25rem;
        right: -0.25rem;
        font-size: 1rem;
        line-height: 1rem;
        width: 1rem;
        text-align: center;
        background: $color-info;
        color: contrast-color($color-info);
        padding: 0.25em;
        text-decoration: none;
        opacity: 0.25;
        border-radius: 1rem;

        &:hover {
            transform: scale(1.05);
            opacity: 1;
        }
    }

    &:hover {

        .referenceable-block-link {
            display: block;
        }
    }
}

@import "core/material-icons.scss";
@import "core/navbar.scss";