@import "/mixins/core.scss";

@font-face {
    font-family: "Material Icons";
    font-style: normal;
    font-weight: 400;
    src: url(/core/material-icons/MaterialIcons-Regular.woff2) format("woff2"),
        url(/core/material-icons/MaterialIcons-Regular.otf) format("truetype");
}

@font-face {
    font-family: "Material Icons Outlined";
    font-style: normal;
    font-weight: 400;
    src: url(/core/material-icons/MaterialIconsOutlined-Regular.woff2) format("woff2"),
        url(/core/material-icons/MaterialIconsOutlined-Regular.otf) format("opentype");
}

@font-face {
    font-family: "Material Icons Round";
    font-style: normal;
    font-weight: 400;
    src: url(/core/material-icons/MaterialIconsRound-Regular.woff2) format("woff2"),
        url(/core/material-icons/MaterialIconsRound-Regular.otf) format("opentype");
}

@font-face {
    font-family: "Material Icons Sharp";
    font-style: normal;
    font-weight: 400;
    src: url(/core/material-icons/MaterialIconsSharp-Regular.woff2) format("woff2"),
        url(/core/material-icons/MaterialIconsSharp-Regular.otf) format("opentype");
}

@font-face {
    font-family: "Material Icons Two Tone";
    font-style: normal;
    font-weight: 400;
    src: url(/core/material-icons/MaterialIconsTwoTone-Regular.woff2) format("woff2"),
        url(/core/material-icons/MaterialIconsTwoTone-Regular.otf) format("opentype");
}

@font-face {
    font-family: "IcoFont";
    font-weight: normal;
    font-style: "Regular";
    src: url("/core/icofont/fonts/icofont.woff2") format("woff2"),
        url("/core/icofont/fonts/icofont.woff") format("woff");
}

a:link {
    color: $color-link;
}

a:visited {
    color: $color-link-visited;
}

a:focus {
    color: $color-link-focus;
}

a:hover {
    color: $color-link-hover;
}

a:active {
    color: $color-link-active;
}

a:after {
    @include material-icon;
    font-size: smaller;
    text-decoration: none;
    vertical-align: top;
}

a[target="_lightbox"]:after {
    content: "open_in_full";
    display: inline-block;
}

a[target="_blank"]:after {
    content: "open_in_new";
    display: inline-block;
}

::selection,
::-moz-selection {
    background: $color-highlight;
    color: contrast-color($color-highlight);
}

:focus {
    @include focused;
}

button,
.button,
input[type="submit"] {
    @include button;
}

input[type="submit"] {
    @include button-confirmation;
}

.button-menu {
    input {
        border-radius: 0;

        &:first-of-type {
            border-bottom-left-radius: $border-radius;
            border-top-left-radius: $border-radius;
        }

        &:last-of-type {
            border-bottom-right-radius: $border-radius;
            border-top-right-radius: $border-radius;
        }
    }
}

.referenceable-block {
    position: relative;
    margin: $grid-unit 0;

    .referenceable-block-link {
        @include material-icon;
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        font-size: 1rem;
        line-height: 1.5em;
        width: 1.5em;
        text-align: center;
        background: $color-info;
        color: contrast-color($color-info);
        text-decoration: none;
        opacity: 0.1;

        &:hover {
            transform: scale(1.05);
            opacity: 1;
        }
    }

    &:hover {
        .referenceable-block-link {
            display: block;
        }
    }
}

.navigation-frame,
.autocomplete-results {
    @include loading-overlay;
}

@keyframes spin-loading-overlay {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@import "core/navbar.scss";
@import "core/attachment-blocks.scss";
