@import "/mixins/core.scss";

a:link {
    color: saturate(lighten($color-link, 15), 2);
}

a:visited {
    color: saturate(lighten($color-link-visited, 15), 2);
}

a:focus {
    color: saturate(lighten($color-link-focus, 15), 2);
}

a:hover {
    color: saturate(lighten($color-link-hover, 15), 2);
}

a:active {
    color: saturate(lighten($color-link-active, 15), 2);
}

a:after {
    @include material-icon;
    font-size: smaller;
    text-decoration: none;
    vertical-align: top;
}

.breadcrumb {
    background: rgba($color-neutral, 0.025);
}

tr:nth-child(2n+1) {
    background: rgba($color-neutral, 0.075)
}

th,
td.header {
    background: $color-accent;
}

tr:nth-child(2n) th,
tr:nth-child(2n) td.header {
    background: rgba($color-accent, 0.8);
}