@import '/mixins/core.scss';

.Form {
    @include highlight-block;
    max-width: 725px;

    >label {
        font-size: larger;
        font-weight: bold;
    }

    >:first-child {
        margin-top: 0;
    }

    >:last-child {
        margin-bottom: 0;
    }

    .FieldWrapper {
        margin: $grid-unit 0;

        >label {
            display: block;
            font-weight: bold;
            margin-bottom: $grid-unit/2;
        }

        &.FieldWrapper-Submit {
            margin-bottom: 0;

            button {
                box-sizing: border-box;
                display: block;
                width: 100%;
            }
        }

        &[data-validation=invalid] {
            outline: 2px solid $color-error;
            outline-offset: 2px;

            &:target {
                outline-width: 4px;
            }
        }
    }

    .FieldWrapper-required {
        >label {
            &:after {
                content: "required";
                display: block;
                line-height: top;
                font-size: smaller;
                opacity: 0.5;
                float: right;
            }
        }
    }

    .tips {
        margin: $grid-unit/2 0;
    }

    .tip {
        font-style: italic;
        font-size: smaller;
        margin: $grid-unit/2;
    }

    .validation-messages {
        margin: $grid-unit/2 0;
    }

    .validation-message {
        padding: $grid-unit/2;
        margin: $grid-unit/2 0;
        background: $color-error;
        color: contrast-color($color-error);

        a {
            color: inherit !important;
            text-decoration: none !important;
        }
    }

    input {
        box-sizing: border-box;
        display: block;
        width: 100%;
        background: $body-bg;
        color: $body-fg;
        border: 1px solid rgba($color-neutral, 0.5);
        padding: $grid-unit;

        @media (prefers-color-scheme: dark) {
            background: $dark-body-bg;
            color: $dark-body-fg;
        }
    }

    input[type=checkbox],
    input[type=radio] {
        display: none;

        +label {
            background: $color-neutral;
            color: contrast-color($color-neutral);
            cursor: pointer;
            display: block;
            padding: $grid-unit/2;

            &:before {
                @include material-icon;
                content: 'check_box_outline_blank';
                display: inline-block;
                font-size: larger;
                vertical-align: text-bottom;
                line-height: 1;
                margin-right: $grid-unit/2;
                color: inherit;
            }
        }

        &:checked {
            +label {
                background: $color-confirmation;
                color: contrast-color($color-confirmation);

                &:before {
                    @include material-icon;
                    content: 'check_box';
                }
            }
        }
    }

    input[type=radio] {

        +label {
            &:before {
                content: 'radio_button_unchecked';
            }
        }

        &:checked {
            +label {
                &:before {
                    content: 'radio_button_checked';
                }
            }
        }
    }

    button.Submit {
        @include button-confirmation;
    }
}

.Form.compact {
    font-size: smaller;

    .FieldWrapper {
        margin: $grid-unit/2 0;
    }

    input {
        padding: $grid-unit/2;
    }

    button.Submit {
        padding: $grid-unit/2;
    }
}

// @media screen and (prefers-color-scheme: dark) {
//     .Form {
//         .FieldWrapper {
//             >label {
//                 background: rgba($color-neutral, 0.05);
//                 color: inherit;
//             }
//         }
//     }
// }