.layout-column-wrapper {
  text-align:center;
}
.layout-column-wrapper>* {
  text-align:left;
}

.template-extracolumn {
  font-size:0.85rem;
  line-height:1.4em;
}

/* one columns */

@media screen {
  .layout-column-wrapper.cols-1 *[role="main"],
  .layout-column-wrapper.cols-1 .template-extracolumn {
    display:inline-block;
    vertical-align:top;
    margin: 1rem;
    max-width:35rem;
  }
}

@media screen and (min-width:39rem) {
  .layout-column-wrapper.cols-1 *[role="main"] {
    width: 35rem;
    margin: 0 1rem;
  }
}

/* two columns */

@media screen {
  .layout-column-wrapper.cols-2 *[role="main"],
  .layout-column-wrapper.cols-2 .template-extracolumn {
    display:inline-block;
    vertical-align:top;
    margin: 1rem;
    max-width:35rem;
  }
}

@media screen and (min-width:56rem) {
  .layout-column-wrapper.cols-2 *[role="main"] {
    width: 35rem;
    margin: 0 1rem;
  }
  .layout-column-wrapper.cols-2 .template-extracolumn {
    width:15rem;
  }
}
