nav.menubar, nav.menu {
  margin: 1rem 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
}

nav.menubar:first-child, nav.menu:first-child {
  margin-top: 0;
}

nav.menubar:last-child, nav.menu:last-child {
  margin-bottom: 0;
}

/* menu items */

nav.menubar *.menuitem, nav.menu *.menuitem {
  background: #eee;
  padding: 0.5rem;
  display: inline-block;
  font-size: 1rem;
  line-height: 1rem;
}

nav.menubar *.menuitem:hover, nav.menu *.menuitem:hover {
  background: #fafafa;
}

nav.menubar *.menuitem.selected, nav.menu *.menuitem.selected {
  background: #fafafa;
}

nav.menubar *.menuitem.selected.active-path, nav.menu *.menuitem.selected.active-path {
  color: #933;
}

nav.menubar *.menuitem.selected.active-page, nav.menu *.menuitem.selected.active-page {
  text-decoration: none;
  color: #f00;
}

nav.menubar *.menuitem.disabled, nav.menu *.menuitem.disabled {
  background: #eee;
  color: #999;
  text-decoration: none;
  cursor: default;
}

/* only a small tweak to apply styles to vertical menus */

nav.menu *.menuitem {
  display: block;
}
