body {
  margin: 0;
}

*[role="banner"], nav, *[role="main"] {
  margin: 1rem auto;
}

*[role="banner"], nav, footer {
  text-align: center;
}

*[role="banner"], nav, footer {
  background: #fafafa;
}

*[role="banner"] {
  margin: 0;
  padding: 1rem;
}

body > nav.menubar {
  margin: 0;
  background:#eee;
}

body > #digraph-notifications {
  max-width:35rem;
  margin: 1rem auto;
}

.layout-column-wrapper {
  margin-top:1rem;
}

footer {
  margin-bottom: 0;
  padding: 1rem 0.5rem;
  background:transparent;
}

/* menu */

nav.menubar *.menuitem.selected, nav.menu *.menuitem.selected {
  background: #fff;
}

/* screen layouts */

@media screen {
  *[role="main"] {
    max-width: 30em;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
