a:link {
    color: $color-link;
}

a:visited {
    color: $color-link-visited;
}

a:focus {
    color: $color-link-focus;
}

a:hover {
    color: $color-link-hover;
}

a:active {
    color: $color-link-active;
}

a:after {
    @include material-icon;
    font-size: smaller;
    text-decoration: none;
    vertical-align: top;
}

a[target="_lightbox"]:after {
    content: "open_in_full";
    display: inline-block;
}

a[target="_blank"]:after {
    content: "open_in_new";
    display: inline-block;
}

::selection,
::-moz-selection {
    background: $color-highlight;
    color: contrast-color($color-highlight);
}

:focus {
    @include focused;
}

.navigation-frame,
.autocomplete-results {
    @include loading-overlay;
}

.button-menu,
.button-menu__buttons {
    display: flex;
    width: auto;
}

.button-menu {
    .button,
    button,
    input[type="button"],
    input[type="submit"] {
        border-radius: 0;
        white-space:normal;
        &:first-child {
            border-top-left-radius: $border-radius;
            border-bottom-left-radius: $border-radius;
        }
        &:last-child {
            border-top-right-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
        }
    }
}

@keyframes spin-loading-overlay {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
