.form-wrapper {
    display: block;
    font-family: var(--font-ui);
    max-width: 100%;

    >* {
        &:last-child {
            margin-bottom: 0;
        }

        &:first-child {
            margin-top: 0;
        }
    }
}

button,
input,
select,
textarea,
fieldset {
    font-family: var(--font-ui);
    font-size: inherit;
    padding: $grid/2;
    box-sizing: border-box;
    display: block;
    border-radius: var(--border-radius);
    margin: 0;

    &:disabled,
    &:indeterminate {
        background-color: var(--theme-neutral);
        color: var(--theme-neutral-darker);
    }
}

input {
    -webkit-appearance: none;
    appearance: none;
}

input,
select,
textarea,
.CodeMirror {
    border: $border solid var(--theme-neutral);
    border-radius: var(--border-radius);
    background-color: var(--background-lighter);
    color: var(--color);
    width: 100%;
    line-height: 1.4;
    font-size: 1rem;
    box-sizing: border-box;
}

.CodeMirror {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

textarea {
    height: 30vh;
}

button,
input[type="button"],
.button {
    @include button;

    &:after {
        display: inline-block;
        font-size: 1.5em;
        vertical-align: middle;
        margin-left: $grid/2;
    }
}

input[type="submit"] {
    @include button;
}

input[type="checkbox"],
input[type="radio"] {
    display: inline-flex;
    vertical-align: baseline;
    justify-items: center;
    align-items: center;
    padding: $grid/8;
    margin: 0;
    color: inherit;
    text-align: center;
    width: auto;
    font-size: 1em;
    height: 1.5em;
    width: 1.5em;
    box-sizing: border-box;

    +label {
        margin-left: $grid/2;
    }

    &:before {
        @include material-icon;
        display: block;
        content: "\00a0";
        line-height: 0;
        text-align: center;
        width: auto;
        flex-grow: 1;
    }

    &:checked {
        &:before {
            content: "\e5ca";
        }
    }

    &:indeterminate {
        &:before {
            content: "question_mark";
        }
    }
}

input[type="radio"] {
    border-radius: 100%;

    &:checked {
        &:before {
            content: "circle";
            transform: scale(0.9);
        }
    }

    &:indeterminate {
        &:before {
            content: "circle";
            transform: scale(0.9);
            opacity: 0.25;
        }

        background-color: var(--background);
        color: var(--color);
    }
}

label {
    font-weight: bold;
}

fieldset,
.form-field {
    margin: $grid/2 0;
}

fieldset {
    border: 1px groove var(--background-darker);
    background-color: var(--background-dark);
    border-radius: $border-radius;
    padding: $grid;
    padding-top: $grid/4;

    fieldset {
        border: 1px groove var(--background);
        background-color: var(--background);

        fieldset {
            border: 1px groove var(--background-darker);
            background-color: var(--background-dark);

            fieldset {
                border: 1px groove var(--background);
                background-color: var(--background);

                fieldset {
                    border: 1px groove var(--background-darker);
                    background-color: var(--background-dark);
                }
            }
        }
    }

    legend {
        position: relative;
        display: block;
        font-family: $font-ui;
        font-weight: light;
        padding: 0 $grid/2;
        opacity: 0.5;
    }
}

.form-field--error {
    background: var(--cue-warning-a10);
    padding: $grid/2;
}

.form-field__tips {
    line-height: $line-height-tight;
}

.form-field__tips__tip {
    display: block;
    margin: $grid/4 0;

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.form-field__error-message {
    margin: $grid/2 0;
    font-weight: bold;
    color: var(--cue-danger);

    &:last-child {
        margin-bottom: 0;
    }
}

.form-field {

    .checkbox-list,
    .radio-list {
        margin: $grid/2 0;

        &:last-child {
            margin-bottom: 0;
        }

        &:first-child {
            margin-top: 0;
        }
    }
}

.checkbox-list,
.radio-list {
    margin: $grid 0;

    >.form-field {
        margin: $grid/2 0;

        &:last-child {
            margin-bottom: 0;
        }

        &:first-child {
            margin-top: 0;
        }
    }
}

.checkbox-list-field,
.radio-list-field {
    >label {
        font-size: smaller;
    }
}