code {
    font-family: $font-code;
    display: inline-block;
    padding: $border;
    color: var(--color);
    background: var(--background-light);
    width: fit-content;
    max-width: 100%;
    ;
}

pre {
    padding: $grid*0.75 $grid;
    box-shadow: var(--shadow);
    display: block;
    overflow-x: auto;
    max-height: 75vh;
    border-left: $border solid var(--theme-neutral);
    max-width: $line-length;
}

pre>code {
    box-sizing: border-box;
    line-height: 1.5;
}

/*!
  Theme: GitHub
  Description: Light theme as seen on github.com
  Author: github.com
  Maintainer: @Hirse
  Updated: 2021-05-15

  Outdated base version: https://github.com/primer/github-syntax-light
  Current colors taken from GitHub's CSS
*/

.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-variable.language_ {
    color: var(--cue-danger);
}

.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_ {
    color: var(--cue-interactive);
}

.hljs-attr,
.hljs-attribute,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-operator,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id,
.hljs-variable {
    color: var(--cue-interactive);
}

.hljs-meta .hljs-string,
.hljs-regexp,
.hljs-string {
    color: var(--cue-interactive);
}

.hljs-built_in,
.hljs-symbol {
    color: var(--cue-warning);
}

.hljs-code,
.hljs-comment,
.hljs-formula {
    color: var(--theme-neutral);
}

.hljs-name,
.hljs-quote,
.hljs-selector-pseudo,
.hljs-selector-tag {
    color: var(--cue-safe);
}

.hljs-subst {
    color: var(--theme-neutral);
}

.hljs-section {
    color: var(--cue-interactive);
    font-weight: 700;
}

.hljs-bullet {
    color: var(--cue-interactive);
}

.hljs-emphasis {
    color: var(--cue-interactive);
    font-style: italic;
}

.hljs-strong {
    color: var(--cue-interactive);
    font-weight: 700;
}

.hljs-addition {
    color: var(--cue-safe);
    background-color: var(--cue-safe-inv);
}

.hljs-deletion {
    color: var(--cue-danger);
    background-color: var(--cue-danger-inv);
}