.card {
    box-sizing: border-box;
    background: var(--background-light);
    color: var(--color);
    padding: $grid;
    font-family: $font-ui;
    margin: $grid 0;
    box-shadow: var(--shadow);
    max-width: $line-length*1.5;
    width: 100%;

    &.card--accent {
        background: var(--theme-accent);
        color: var(--theme-accent-inv);
    }

    &.card--light {
        background: var(--background-lighter);
        color: var(--color);
    }

    &.card--dark {
        background: var(--background-darker);
        color: var(--color);
    }

    &.card--neutral {
        background: var(--theme-neutral);
        color: var(--theme-neutral-inv);
    }

    &.card--info {
        background: var(--cue-information);
        color: var(--cue-information-inv);
    }

    &.card--confirmation {
        background: var(--cue-safe);
        color: var(--cue-safe-inv);
    }

    &.card--warning {
        background: var(--cue-warning);
        color: var(--cue-warning-inv);
    }

    &.card--error {
        background: var(--cue-danger);
        color: var(--cue-danger-inv);
    }

    >*:first-child {
        margin-top: 0;
    }

    >*:last-child {
        margin-bottom: 0;
    }
}

.card__title {
    font-weight: bold;
    font-size: larger;
    margin-bottom: $grid/2;
}

.file-card,
.multifile-card,
.card--accent,
.card--light,
.card--dark,
.card--neutral,
.card--info,
.card--confirmation,
.card--warning,
.card--error {
    @include uncolored-links;
}

/*
file cards include an icon
*/
.file-card {
    box-sizing: border-box;
    background: var(--background-bright);
    color: var(--color);
    display: grid;
    grid-template-columns: 3.5em auto;
    grid-template-rows: auto auto;
    padding: $grid/2;
    border-left: $grid/2 solid var(--cue-interactive);
    box-shadow: var(--shadow);
    width: 100%;
    max-width: $line-length;

    &:before {
        @include icofont;
        color: var(--cue-interactive);
        display: block;
        content: "\eb12";
        grid-row-start: 1;
        grid-row-end: -1;
        font-size: 3em;
        text-align: left;
        line-height: 1.2;
    }

    * {
        grid-column-start: 2;
    }
}

.file-card__meta {
    font-size: smaller;
    font-style: italic;
}

/*
extra file card styling for multifile cards
*/
.multifile-card {
    width: $line-length;

    .multifile-card__list {
        margin-top: $grid/2;
    }

    .card__title+.multifile-card__list {
        margin-top: 0;
    }
}

.multifile-card__list {
    font-size: smaller;

    ul {
        margin: 0;
        margin-bottom: $grid/2;
        list-style-position: inside;
        padding-left: 0;
    }
}

/*
File card icons for extensions
*/

/* spreadsheets */
.file-card--extension-xlsx,
.file-card--extension-csv,
.file-card--extension-tsv,
.file-card--extension-xls,
.file-card--extension-ods,
.file-card--extension-sxc,
.file-card--extension-dif,
.file-card--extension-gnumeric,
.file-card--extension-dex,
.file-card--extension-123,
.file-card--extension-numbers-tef,
.file-card--extension-sxc,
.file-card--extension-xltm,
.file-card--extension-xlsb,
.file-card--extension-ots,
.file-card--extension-sdc,
.file-card--extension-xlshtml,
.file-card--extension-xltx,
.file-card--extension-gsheet,
.file-card--extension-qpw,
.file-card--extension-wks,
.file-card--extension-gnm,
.file-card--extension-ogw,
.file-card--extension-ess,
.file-card--extension-xlhtml {
    border-color: #49a94d;

    &:before {
        color: #49a94d;
        content: "\eb27";
    }
}

/* word processing */
.file-card--extension-docx,
.file-card--extension-doc,
.file-card--extension-odt,
.file-card--extension-sxw,
.file-card--extension-dotx,
.file-card--extension-dotm,
.file-card--extension-docm,
.file-card--extension-dot,
.file-card--extension-rtf,
.file-card--extension-wpd,
.file-card--extension-wps {
    border-color: #2a5699;

    &:before {
        color: #2a5699;
        content: "\eb0e";
    }
}

/* audio files */
.file-card--extension-mp3,
.file-card--extension-mp4,
.file-card--extension-wav,
.file-card--extension-aiff,
.file-card--extension-flac,
.file-card--extension-m4a,
.file-card--extension-ogg,
.file-card--extension-wma,
.file-card--extension-mpa,
.file-card--extension-pcm,
.file-card--extension-aac,
.file-card--extension-mid,
.file-card--extension-alac {
    border-color: #3938a8;

    &:before {
        color: #3938a8;
        content: "\eb09";
    }
}

/* presentations */
.file-card--extension-pptx,
.file-card--extension-ppt,
.file-card--extension-odp,
.file-card--extension-sxi,
.file-card--extension-potx,
.file-card--extension-potm,
.file-card--extension-pptm,
.file-card--extension-pot,
.file-card--extension-pps,
.file-card--extension-ppa {
    border-color: #d24726;

    &:before {
        color: #d24726;
        content: "\eb22";
    }
}

/* images */
.file-card--extension-jpg,
.file-card--extension-jpeg,
.file-card--extension-jpe,
.file-card--extension-jfif,
.file-card--extension-jif,
.file-card--extension-jfi,
.file-card--extension-png,
.file-card--extension-gif,
.file-card--extension-webp,
.file-card--extension-tif,
.file-card--extension-tiff,
.file-card--extension-psd,
.file-card--extension-raw,
.file-card--extension-arw,
.file-card--extension-cr2,
.file-card--extension-nrw,
.file-card--extension-k25,
.file-card--extension-kdc,
.file-card--extension-dng {
    border-color: #666;

    &:before {
        color: #666;
        content: "\eb16";
    }
}

/* pdf */
.file-card--extension-pdf {
    border-color: #e03c31;

    &:before {
        color: #e03c31;
        content: "\eb1e";
    }
}

/* avi/mp4 only */
.file-card--extension-avi,
.file-card--extension-mp4 {
    border-color: #3e93ac;

    &:before {
        color: #3e93ac;
        content: "\eb0a";
    }
}

/* bitmaps */
.file-card--extension-bmp,
.file-card--extension-dib,
.file-card--extension-wbmp {
    border-color: #649fab;

    &:before {
        color: #649fab;
        content: "\eb0b";
    }
}

/* zip/archives */
.file-card--extension-mint,
.file-card--extension-ice,
.file-card--extension-rar,
.file-card--extension-pup,
.file-card--extension-b6z,
.file-card--extension-gzip,
.file-card--extension-sy_,
.file-card--extension-xz,
.file-card--extension-deb,
.file-card--extension-sit,
.file-card--extension-tbz,
.file-card--extension-7z,
.file-card--extension-dz,
.file-card--extension-zpi,
.file-card--extension-bz2,
.file-card--extension-pkg,
.file-card--extension-bndl,
.file-card--extension-dar,
.file-card--extension-lz4,
.file-card--extension-zst,
.file-card--extension-pa,
.file-card--extension-wa,
.file-card--extension-uzip,
.file-card--extension-gza,
.file-card--extension-uha,
.file-card--extension-zip,
.file-card--extension-z03,
.file-card--extension-rev,
.file-card--extension-taz,
.file-card--extension-pak,
.file-card--extension-kgb,
.file-card--extension-archiver,
.file-card--extension-pit,
.file-card--extension-rpm,
.file-card--extension-xip,
.file-card--extension-tbz2,
.file-card--extension-zl,
.file-card--extension-lzma,
.file-card--extension-pack,
.file-card--extension-ari,
.file-card--extension-s7z,
.file-card--extension-gz,
.file-card--extension-tx_,
.file-card--extension-czip,
.file-card--extension-bz,
.file-card--extension-sfs,
.file-card--extension-ace,
.file-card--extension-alz,
.file-card--extension-pea,
.file-card--extension-xz,
.file-card--extension-tgz,
.file-card--extension-zipx,
.file-card--extension-rz,
.file-card--extension-yz,
.file-card--extension-gzi,
.file-card--extension-lzh,
.file-card--extension-zz {
    border-color: #efab01;

    &:before {
        color: #efab01;
        content: "\eb30";
    }
}