.toolbar {
    @include uncolored-links;

    background: var(--background-light);
    color: var(--color);
    display: flex;
    align-items: center;
    font-family: $font-ui;

    .navigation-frame,
    &.navigation-frame {
        min-height: auto;
    }

    *:first-child {
        border-left: 0;
    }

    *:last-child {
        border-right: 0;
    }

    &:after {
        font-size: inherit !important;
    }

    .autocomplete-selected-card,
    input,
    pre,
    button,
    .toolbar__button {
        margin: 0;
        padding: $grid/2;
    }

    .autocomplete-selected-card,
    input {
        border-radius: 0;
        border-top: 0;
        border-bottom: 0;
        font-size: inherit;
    }

    input {
        line-height: 1;
    }

    .autocomplete-results {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 1000;
        background: var(--background);
    }

    &.toolbar--vertical {
        flex-direction: column;

        .toolbar__button {
            .toolbar__button__tooltip {
                width: 150%;
                top: 0 !important;
                left: 100% !important;
                right: auto !important;
                bottom: auto !important;

                &:last-child {
                    top: auto !important;
                    bottom: 0 !important;
                }
            }
        }
    }
}

.toolbar__button {
    margin: 0;
    padding: $grid/2;
    font-size: inherit;
    line-height: 1;
    position: relative;
    text-decoration: none;
    text-decoration: none !important;
    display: inline-block;

    >.icon {
        display: block;
        font-size: inherit;
        line-height: 1;
    }

    &[href],
    &[data-command],
    &[onclick] {
        cursor: pointer;
        color: var(--cue-interactive) !important;

        &:hover,
        &:focus {
            background: var(--cue-interactive);
            color: var(--cue-interactive-inv) !important;

            .toolbar__button__tooltip {
                display: block;
                z-index: 1000;
            }
        }

        &:last-child {
            .toolbar__button__tooltip {
                left: auto;
                right: 0;
            }
        }

        &:first-child {
            .toolbar__button__tooltip {
                right: auto;
                left: 0;
            }
        }

        &.toolbar__button--compact-tip {
            .toolbar__button__tooltip {
                right: 0;
                left: 0;
                width: 100%;
            }
        }
    }

    &.toolbar__button--warning {
        color: var(--cue-warning) !important;

        &:hover,
        &:focus {
            background: var(--cue-warning) !important;
            color: var(--cue-warning-inv) !important;
        }
    }
}

.toolbar__separator {
    display: block;
    height: 1.5em;
    width: $border/2;
    background-color: var(--theme-neutral);
}

.toolbar__spacer {
    flex-grow: 1;
}

.toolbar__button__tooltip {
    box-sizing: border-box;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 200%;
    font-family: $font-ui;
    font-size: xx-small;
    background: var(--theme-neutral);
    color: var(--theme-neutral-inv);
    padding: $grid/4;
    box-shadow: var(--shadow);
}

.toolbar__button__tooltip__shortcut {
    display: block;
    opacity: 0.65;
    white-space: nowrap;
}