.form--small {
  font-size: 0.7rem;
  line-height: 1.4;

  .form-field,
  fieldset {
    margin: $grid/4 0;
    padding: $grid/4;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-top: 0;
    }
  }

  input,
  textarea,
  select,
  button,
  .button {
    font-size: inherit;
    padding: $grid/4;
  }

  input[type="checkbox"],
  input[type="radio"] {
    padding: 0;

    +label {
      margin-left: $grid/4;
    }
  }

  .checkbox-list,
  .radio-list {
    >.form-field {
      padding: 0;
    }
  }
}