.form--small {
  font-size: 0.7rem;
  line-height: 1.4;

  .form-field,
  fieldset {
    margin: $grid/4 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-top: 0;
    }
  }

  input,
  textarea,
  select,
  button,
  .button {
    font-size: inherit;
    padding: $grid/4;
  }
}