.menubar--usermenu {
    justify-content: flex-end;
    &.menubar--checking-overflow {
        justify-content: flex-start;
    }

    .menuitem {
        font-weight: normal;
    }

    > .menuitem {
        > .menuitem__dropdown {
            left: auto;
            right: 0;
        }
    }

    .menuitem--logout {
        order: 1000;
        font-weight: bold;
        .menuitem__link {
            background: var(--cue-warning);
            color: var(--cue-warning-inv);
        }
        &:hover,
        &:focus,
        &:focus-within,
        &.menuitem--focus {
            a.menuitem__link {
                background: var(--cue-warning-bright);
            }
        }
    }

    .menuitem--login {
        order: 1000;
        font-weight: bold;
        .menuitem__link {
            background: var(--cue-interactive);
            color: var(--cue-interactive-inv);
        }
        &:hover,
        &:focus,
        &:focus-within,
        &.menuitem--focus {
            a.menuitem__link {
                background: var(--cue-interactive-bright);
            }
        }
    }

    .menuitem--user {
        order: 0;
        font-weight: bold;
    }

    .menuitem--inbox {
        order: 998;
        &.menuitem--inbox--notify {
            > .menuitem__link {
                background: var(--cue-interactive);
                color: var(--cue-interactive-inv);
                &:after {
                    content: "notifications";
                }
            }
        }
    }

    .menuitem--theme {
        order: 999;
        > .menuitem__link {
            &:after {
                content: "dark_mode";
            }
        }
        .theme-menu {
            > *:last-child {
                margin-bottom: 0;
            }
        }
    }
}
