.menubar--actionmenu {
    background-color: var(--cue-interactive-a10);
    color: inherit;
    border-top: $border solid var(--cue-interactive);
    font-size: smaller;

    .menuitem {
        background-color: transparent;
        color: inherit;

        &.menuitem--current {
            opacity: 1;
            background-color: var(--cue-interactive);
            color: var(--cue-interactive-inv);
        }

        &.menuitem--current-parent {
            opacity: 1;
            background-color: var(--cue-interactive-a50);
            color: var(--cue-interactive-inv);
        }

        &:hover,
        &:focus,
        &:focus-within,
        &.menuitem--focus {
            >a.menuitem__link {
                background-color: var(--cue-interactive-bright);
                color: var(--cue-interactive-inv);

                &:link {
                    text-decoration: underline;
                }
            }
        }

        &.menuitem--page-display {
            &.menuitem--current-parent {
                opacity: 1;
            }
        }
    }

    .menubar {
        background-color: var(--background-dark);
        color: var(--color);
    }
}