.menubar--usermenu {
    justify-content: flex-end;

    .menuitem {
        font-weight: normal;
    }

    .menuitem--logout {
        order: 1000;
        font-weight: bold;
        .menuitem__link {
            background: var(--cue-warning);
            color: var(--cue-warning-inv);
        }
        &:hover,
        &:focus,
        &:focus-within,
        &.menuitem--focus {
            a.menuitem__link {
                background: var(--cue-warning-bright);
            }
        }
    }

    .menuitem--login {
        order: 1000;
        font-weight: bold;
        .menuitem__link {
            background: var(--cue-interactive);
            color: var(--cue-interactive-inv);
        }
        &:hover,
        &:focus,
        &:focus-within,
        &.menuitem--focus {
            a.menuitem__link {
                background: var(--cue-interactive-bright);
            }
        }
    }

    .menuitem--user {
        order: 0;
        font-weight: bold;
    }

    .menuitem--theme {
        order: 999;
        .menuitem__link {
            &:after {
                content: "dark_mode" !important;
            }
        }
        &:hover,
        &:focus,
        &:focus-within,
        &.menuitem--focus {
            background: #000;
            a.menuitem__link {
                color: #fff !important;
                text-shadow: 1px 1px rgba(0, 0, 0, 0.5) !important;
                background: linear-gradient(
                    90deg,
                    rgba(255, 0, 0, 0.5) 0%,
                    rgba(255, 154, 0, 0.5) 10%,
                    rgba(208, 222, 33, 0.5) 20%,
                    rgba(79, 220, 74, 0.5) 30%,
                    rgba(63, 218, 216, 0.5) 40%,
                    rgba(47, 201, 226, 0.5) 50%,
                    rgba(28, 127, 238, 0.5) 60%,
                    rgba(95, 21, 242, 0.5) 70%,
                    rgba(186, 12, 248, 0.5) 80%,
                    rgba(251, 7, 217, 0.5) 90%,
                    rgba(255, 0, 0, 0.5) 100%
                );
            }
        }
        .theme-menu {
            > *:last-child {
                margin-bottom: 0;
            }
        }
    }
}
