.menubar--usermenu {
    justify-content: flex-end;

    .menuitem {
        font-weight: normal;
    }

    .menuitem--logout {
        order: 1000;
        font-weight: bold;
        .menuitem__link {
            background: var(--cue-warning);
            color: var(--cue-warning-inv);
        }
        &:hover,
        &:focus,
        &:focus-within,
        &.menuitem--focus {
            a.menuitem__link {
                background: var(--cue-warning-bright);
            }
        }
    }

    .menuitem--login {
        order: 1000;
        font-weight: bold;
        .menuitem__link {
            background: var(--cue-interactive);
            color: var(--cue-interactive-inv);
        }
        &:hover,
        &:focus,
        &:focus-within,
        &.menuitem--focus {
            a.menuitem__link {
                background: var(--cue-interactive-bright);
            }
        }
    }

    .menuitem--user {
        order: 0;
        font-weight: bold;
    }

    .menuitem--theme {
        order: 999;
        .menuitem__link {
            &:after {
                content: "dark_mode" !important;
            }
        }
        .theme-menu {
            > *:last-child {
                margin-bottom: 0;
            }
        }
    }
}
