/* Message display styling */
.message {
    border-radius: $border-radius;
    box-shadow: var(--shadow);
    padding: $grid;
    font-family: $font-ui;
    background: var(--background-light);
    color: var(--color);
}

.message__subject {
    font-weight: bold;
    font-size: larger;
}

.message__time,
.message__sender,
.message__recipient {
    display: inline-block;
    font-size: smaller;
    font-weight: lighter;
}

.message__time {
    &:before {
        display: inline;
        content: "sent ";
    }
}

.message__sender {
    &:before {
        display: inline;
        content: "from ";
    }
}

.message__recipient {
    &:before {
        display: inline;
        content: "to ";
    }
}

.message__body {
    border-top: $border solid var(--theme-neutral-a50);
    margin-top: $grid;
}

/* Inbox dropdown menu styling */
#inbox-dropdown {
    width: 15em;
}

.inbox-dropdown__message {
    display: flex;

    .inbox-dropdown__message__subject {
        white-space: nowrap;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: $grid/2;
        flex-grow: 1;

        &:hover {
            background: var(--cue-interactive-a20);
        }
    }

    .inbox-dropdown__message__controls {
        white-space: nowrap;

        > * {
            white-space: normal;
        }
    }
}
