.search-results__item {
    margin: $grid 0;

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.search-results__title {
    font-weight: bold;
    font-size: larger;
}

.search-results__body {
    color: var(--color-lighter);
}

.search-results__url {
    font-size: smaller;
    color: var(--cue-information);
}

.card.card--search-results-highlight {
    max-width: 100%;
    width: auto;
}