menu.signin-sources {
  list-style: none;
  padding: 0;
  font-family: $font-ui;
  display: flex;
  flex-direction: column;

  li {
    @include uncolored-links;
    padding: 0;
    order: 100;
    margin: 0;
    margin-bottom: $grid;

    >a {
      border-radius: $border-radius;
      background-color: var(--cue-interactive);
      color: var(--cue-interactive--inv);
      font-weight: bold;
      width: 10em;
      display: block;
      padding: $grid;
      text-decoration: none;
      text-align: center;

      &:hover {
        filter: brightness(1.1) saturate(1.1);
      }

      img {
        max-width: 100%;
        height: auto;
        display: block;
      }
    }

    &.signin-source--oauth2_google {
      >a {
        background-color: #0F9D58;
        color: #fff;
      }
    }

    &.signin-source--oauth2_facebook {
      >a {
        background-color: #1877f2;
        color: #fff;
      }
    }

    &.signin-source--oauth2_github {
      >a {
        background-color: #FF507A;
        color: #000;
      }
    }
  }
}