.notification {
  background: #666;
  color: #fff;
  padding: 5pt;
  margin: 5pt 0;
  line-height:1.2em;
}

.notification a {
  color: #fff !important;
  font-weight: bold;
}

.notification-confirmation {
  background-color: #2E7D32;
}

.notification-notice {
  background-color: #1A78C2;
}

.notification-warning {
  background-color: #E65100;
}

.notification-error {
  background-color: #b71c1c;
}
