/* font selections and sizes */
body {
  margin:0;
  padding:0;
}

body,
.Form .Container.class-Content .class-ContentTextarea {
  font-size: $(font_size_base);
  font-family: $(font_family_body);
  line-height: $(line_height_base);
}

.digraph-area {
  margin:$(spacing_base);
}

.digraph-area:after {
  content: "";
  clear: both;
  display: table;
}

a {
  text-decoration: none;
}

a[href] {
  text-decoration: underline;
  color: $(color_link);
}

a[href]:visited {
  color: $(color_link_visited);
}

a[href]:hover {
  color: $(color_link_hover);
}

a[href]:active {
  color: $(color_link_active);
}

h1, h2, h3, h4, h5, h6 {
  font-family: $(font_family_headers);
  line-height: $(line_height_compact);
}

h1 {
  font-size: $(heading_size)em;
}

h2 {
  font-size: math($(heading_size)*$(heading_ratio))em;
}

h3 {
  font-size: math($(heading_size)*$(heading_ratio)*$(heading_ratio))em;
}

h4 {
  font-size: math($(heading_size)*$(heading_ratio)*$(heading_ratio)*$(heading_ratio))em;
}

h4 {
  font-size: math($(heading_size)*$(heading_ratio)*$(heading_ratio)*$(heading_ratio)*$(heading_ratio))em;
}

h4 {
  font-size: math($(heading_size)*$(heading_ratio)*$(heading_ratio)*$(heading_ratio)*$(heading_ratio)*$(heading_ratio))em;
}

/* spacing */
h1, h2, h3, h4, h5, h6, p, ul, ol, address {
  @include .digraph-block;
}

/* ol nesting rules */
ol {
  list-style-type: decimal;
}

ol ol {
  list-style-type: lower-alpha;
}

ol ol ol {
  list-style-type: lower-roman;
}

ol ol ol ol {
  list-style-type: decimal;
}

ol ol ol ol ol {
  list-style-type: lower-alpha;
}

ol ol ol ol ol ol {
  list-style-type: lower-roman;
}

/* specific element styles */
ul, ol {
  ul, ol {
    margin-top: 0;
  }
}

code {
  font-family: monospace;
}

pre {
  font-family: monospace;
  overflow: auto;
}

figure {
  text-align: center;
  > img {
    display: block;
    margin: 0 auto;
  }
  dd,dt {
    padding:0;
    margin:0;
  }

}

figcaption {
  margin-top: 0.5em;
  padding-top: 0.5em;
  text-align: left;
  font-size: 0.8em;
}

/* blockquotes */
blockquote {
  padding: 1em;

  >.author {
    display: block;
    margin-top: 1rem;
    font-style: italic;
    text-align: right;

    &:before {
      display: inline;
      content: '\2015';
    }
  }
}

/* asides and figures */
figure img {
  max-width: 100%;
  height: auto !important;
}

img {
  max-width: 100%;
}

dt {
  font-weight: bold;
  font-size: 0.8em;
}

.incidental {
  font-size: 0.8em;
  opacity: 0.9;
  line-height: $(line_height_compact);
}

/* table base styles */
table {
  font-size: $(font_size_base);
  line-height: $(line_height_compact);
}

th, td {
  padding: 0.25em 0.5em;
}

th {
  font-weight: bold;
}
