.autocomplete-item {
    line-height: 1.4;
    font-size: 1.2rem;
    font-weight: normal;

    .autocomplete-item-label {
        font-weight: bold;

        strong {
            font-weight: bolder;
            text-decoration: underline;
        }
    }

    .autocomplete-item-url {
        opacity: 0.7;
        font-size: 0.7em;
    }

    .autocomplete-item-desc {
        font-size: 0.7em;
    }
}

.FieldWrapper-AutocompleteUserIndex,
.FieldWrapper-AutocompleteActual {
    display: none;
}

.Container.required.DigraphAutocomplete>div>label:after {
    display: inline;
    content: '\2055';
    color: $(color_accent);
    margin-left: 0.5em;
    font-size: 0.75em;
    vertical-align: middle;
}

.Container.DigraphAutocomplete {
    label {
        margin-bottom: 0.25em;
    }

    &>.FieldWrapper {
        margin-bottom: 0;
    }

    .autocomplete-selection-wrapper {
        position: relative;

        .autocomplete-item-label {
            strong {
                font-weight: inherit;
                text-decoration: inherit;
            }
        }
    }

    .autocomplete-selection,
    .autocomplete-clear {
        display: block;
        border: 1px solid $(color_shade);
        border-radius: $(border_radius_accent);
        background: #fff;
        font-size: 1.2rem;
        line-height: normal;
        padding: 0.5em;
    }

    .autocomplete-selection {
        margin-right: 2.5rem;
        cursor: text;
        color: #000;
    }

    .autocomplete-clear {
        position: absolute;
        top: 0;
        right: 0;
        top: 0.5rem;
        width: 2rem;
        height: 2rem;
        padding: 0;
        border: 0;
        line-height: 2rem;
        cursor: pointer;
        overflow: hidden;
        white-space: nowrap;
        text-indent: 200%;
        background: transparent;
        color: $(color_error);
        opacity: 0.5;

        &:before {
            content: '\f12d';
            font-family: 'Font Awesome 5 Free';
            font-weight: 900;
            display: block;
            text-indent: 0;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            text-align: center;
            font-size: 1rem;
        }

        &:hover {
            background: $(color_error);
            color: #fff;
            opacity: 1;
        }
    }
}