.breadcrumb {
  font-size: 0.6em;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5em;
  display: flex;
  background: $(color_shade);
  padding: 0.5em $(spacing_base);
  border-radius: $(border_radius_accent);
}

.breadcrumb-item {
  display: flex;

  a {
    text-decoration: none;
    display: block;
    max-width: 20em;
    white-space: nowrap;
    overflow: hidden;
    overflow: ellipse;

    &:hover {
      text-decoration: underline;
    }
  }
}

.breadcrumb-item:after {
  content: '\00BB';
  display: block;
  margin-left: 0.25em;
  margin-right: 0.35em;
  opacity: 0.5;
}

.breadcrumb-item:last-of-type a {
  text-decoration: inherit !important;
  color: inherit !important;
  font-style: italic;
  opacity: 0.75;
}

.breadcrumb-item:last-of-type:after {
  display: none;
}
