.filestore-card {
  background: $(color_shade);
  text-align: center;
}

figure .filestore-card {
  padding:0;
  background:transparent;
  box-shadow:none;
  margin:0;
}

.filestore-card .filestore-icon {
  display: block;
  font-size: 3em;
}

.filestore-card .filestore-icon img {
  height: 1em;
}

.filestore-card dl {
  margin: 0;
  margin-top: 0.5em;
}

.filestore-card dd {
  margin: 0;
}

.form-ordering-item .filestore-card {
  margin:0;
}

.form-ordering-item.deleted .filestore-card {
  background:$(color_error);
}

.form-ordering-item.dragging .filestore-card {
  background:$(color_notice);
}

/*
 styling just for cards in form fields
*/
.Form .filestore-card {
  text-align:left;
  padding: 0.5em;
}

.Form .filestore-card .filestore-icon {
  display:inline-block;
  font-size:2em;
  vertical-align:middle;
  margin-right:0.25em;
}
