.autocomplete-input-wrapper {
    position: relative;
    width: 100%;

    &.ui-focused {
        .autocomplete-input {
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
    }

    &.focused,
    &.ui-focused {
        .autocomplete-selected-card {
            display: none;
        }
    }
}

.autocomplete-results {
    min-height: 3rem+$grid-unit;
    max-height: 30vh;
    overflow: auto;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    border: $border-unit solid $color-neutral;
    border-top: 0;
    background-color: $body-bg;
    color: $body-fg;
}

.autocomplete-selected-card .selected-card>div,
.autocomplete-results>div {
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    margin: 0;
    padding: $grid-unit/2;
    cursor: pointer;
    background: rgba($color-neutral, 0.2);
    display: flex;
    align-items: center;

    &:before {
        @include icofont;
        display: none;
        font-size: 3em;
        padding-right: $grid-unit/2;
    }

    &.page {
        &:before {
            display: block;
            content: '\efb2';
        }
    }
}

.autocomplete-selected-card {
    width: 100%;
    display: flex;
    border: $border-unit solid $color-neutral;
    border-radius: $border-radius;
    background-color: $body-bg;
    color: $body-fg;
    box-sizing: border-box;

    .selected-card {
        flex-grow: 1;

        >div {
            background: transparent;
        }
    }

    .clear-selection {
        cursor: pointer;
        padding: $grid-unit;
        flex-basis: 2em;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0.25;

        &:hover,
        &:focus {
            opacity: 1;
        }

        &:before {
            @include material-icon;
            display: block;
            font-size: 2em;
            content: 'backspace';
        }
    }
}

.autocomplete-results>div {
    &:nth-child(even) {
        background: transparent;
    }

    &:focus {
        background: rgba($color-info, 0.25);
        outline: 0;
    }
}