@import '/mixins/core.scss';

.codex-editor {
    background: $body-bg;
    color: $body-fg;
    max-width: 725px;
    padding: 0;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
    }
}

.ce-block {
    &:nth-child(odd) {
        background: rgba($color-neutral, 0.1);
    }
}

.ce-toolbar__plus--active,
.ce-toolbar__plus:hover,
.ce-toolbox__button--active,
.ce-toolbox__button:hover,
.cdx-settings-button--active {
    color: $color-info;
}

.ce-settings__button:hover {
    background: rgba($color-info, 0.1);
}

.ce-settings__button--confirm {
    background-color: $color-error !important;
}

.cdx-block,
.ce-block__content>.cdx-nested-list {
    padding: $grid-unit/2 0;
}

.ce-block--selected .ce-block__content {
    background: transparent;
}

.ce-block.ce-block--focused {
    @include focused;
    background: rgba($color-info, 0.1);
}

.cdx-attaches__size,
.cdx-attaches__download-button {
    display: none;
}

.cdx-attaches--with-file {
    padding: 15px;
    padding-left: 10px;
    background: $color-accent;
    color: contrast-color($color-accent);

    .cdx-attaches__file-icon {
        vertical-align: middle;
        display: inline-block;
        margin-right: 15px;
        &:before {
            @include icofont;
            content: "\eb12";
            font-size: 3em;
            line-height: 1em;
        }
        svg {
            display: none;
        }
    }

    .cdx-attaches__file-info {
        vertical-align: middle;
        display: inline-block;
        font-weight: bold;
    }
}

textarea.editorjs {
    display: none;
}

@media (prefers-color-scheme:dark) {
    .codex-editor {
        background: $dark-body-bg;
        color: $dark-body-fg;
    }
}