body {
  color: #fff;
}

a[href] {
  color: #9cf;
}
a:visited {
  color: #edc;
}
a[href]:hover {
  color: #fc3;
}
a[href]:active {
  color: #f33;
}

blockquote, pre, aside, figure,
.filestore-metacard {
  background: #333;
}

[role="banner"],
nav,
footer {
  background: #111;
}

body > footer {
  background:transparent;
}

nav.menubar .menuitem,
nav.menu .menuitem {
  background: #111;
  padding: 10pt;
  display: inline-block;
  font-size: 12pt;
  line-height: 20pt;
}

body,
nav.menubar .menuitem:hover,
nav.menu .menuitem:hover,
nav.menubar .menuitem.selected.active-page,
nav.menu .menuitem.selected.active-page,
nav.menubar .menuitem.selected.active-path,
nav.menu .menuitem.selected.active-path {
  background:#222;
}

nav.menubar .menuitem.selected.active-page,
nav.menu .menuitem.selected.active-page
{
  color:#000;
}

.Form {
  background:#222;
}

.Form .Container {
  background:#333;
  border-color:#444;
}

.FieldWrapper-formward-ordering-field li {
  background:#444;
}

.FieldWrapper-formward-ordering-field li.deleted,
.FieldWrapper-formward-ordering-field li.deleted .filestore-metacard {
  color:#fee;
  background-color:#600;
}

.FieldWrapper-formward-ordering-field li.dragging,
.FieldWrapper-formward-ordering-field li.dragging .filestore-metacard {
  background-color:#329;
  color:#def;
}

table {
  background:#111;
}

th {
  background:#333;
  color:#fff;
}

tr:nth-child(even) {
  background:#222;
}

.digraph-block {
  background:#333;
}

.digraph-block .digraph-block {
  border-bottom:1px solid #222;
}
