<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <link rel="icon" href="{{config.url.base}}favicon/favicon.ico">
    <title>
      {% block title %}
        {{page_name}}
        ::
        {{site_name}}
      {% endblock %}
    </title>
    {% block head %}
      {% include cms.helper('templates').themeTemplate('partials/head.twig') %}
    {% endblock %}
  </head>
  <body class="template-{{package.template}}">
