<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <title>
      {% block title %}
        {% include 'digraph/title.twig' %}
      {% endblock %}
    </title>
    <link rel="stylesheet" href="{{url.base}}digraph.css"></link>
  </head>

  <body>
    <div id="page-wrapper">
      {% block page_wrapper_start %}{% include 'page_wrapper_start.twig' %}{% endblock %}
      {% block page_wrapper %}
        {% include 'digraph/areas.twig' with {
          areas: ['masthead','meta','body']
        } %}
      {% endblock %}
      {% block page_wrapper_end %}{% include 'page_wrapper_end.twig' %}{% endblock %}
    </div>
  </body>
</html>
