div.embeddedplaylist {
    display: block;
    margin: 0 auto;
}

div.embeddedplaylist .embeddedplaylist-player-outer-wrapper {
    margin: 0 auto;
    max-width: 100vh;
}

div.embeddedplaylist .embeddedplaylist-player-wrapper {
    width: 100%;
    padding-bottom: 56.25%;
    position: relative;
    background: #333;
    margin-bottom: 0.5em;
}

div.embeddedplaylist iframe {
    border: 0;
    overflow: hidden;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100% !important;
    max-width: 100% !important;
    height: 100%;
}

div.embeddedplaylist .thumbs {
    border-collapse: collapse;
    width: 100%;
    padding: 0;
    font-size: 0;
}

div.embeddedplaylist .thumbs,
div.embeddedplaylist .thumb {
    margin: 0;
    padding: 0;
    background: transparent;
    text-align: center;
}

div.embeddedplaylist .thumb  {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    min-width: 10rem;
    max-width: 20rem;
}

div.embeddedplaylist .thumb a {
    display: block;
    overflow: hidden;
    position: relative;
    padding-bottom: 55%;
}

div.embeddedplaylist .thumb img {
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    top: -18.5%;
}

div.embeddedplaylist .thumb .embeddedplaylist-thumb-title {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #222;
    color: #fff;
    z-index: 1;
    font-size: 1rem;
    padding: 0.25em;
    white-space: wrap;
}

div.embeddedplaylist .thumb a {
    background-color: #222;
    opacity: 0.8;
    z-index: 1;
    transform: scale(0.95);
}

div.embeddedplaylist .thumb a img {
    z-index: 1;
}

div.embeddedplaylist .thumb a:hover {
    opacity: 0.9;
    transform: scale(1);
}

div.embeddedplaylist .thumb a.active {
    opacity: 1;
    transform: scale(1);
    z-index: 200;
    box-shadow: 0 0 0.5 #000;
    position: relative;
    margin: -2px;
}