.notification {
  @include .digraph-block-card;
  background: #888;
  color: #fff;
  line-height: $(line_height_compact);

  &:first-child {
    margin-top: 0 !important;
  }

  &:last-child {
    margin-bottom: 0 !important;
  }
}

.notification a {
  color: #fff !important;
  font-weight: bold;
}

.notification-confirmation {
  background-color: $(color_confirmation);
}

.notification-notice {
  background-color: $(color_notice);
}

.notification-warning {
  background-color: $(color_warning);
}

.notification-error {
  background-color: $(color_error);
}

.notification-bbcode-ambiguity {
  padding: 0.25em;
  font-size: 0.75em;
}

.notification-bbcode-ambiguity .bbcode-ambiguity-option {
  padding: 0.25em;
  border: 1px solid white;
  border-bottom: 0;
}

.notification-bbcode-ambiguity .bbcode-ambiguity-option:last-child {
  border-bottom: 1px solid white;
}