body,
table,
.Form .Container.class-Content .class-ContentTextarea {
  font-size: $(font_size_small);
}

h1 {
  font-size: $(heading_size)em;
}

h2 {
  font-size: math($(heading_size)*$(heading_ratio))em;
}

h3 {
  font-size: math($(heading_size)*$(heading_ratio)*$(heading_ratio))em;
}

h4 {
  font-size: math($(heading_size)*$(heading_ratio)*$(heading_ratio)*$(heading_ratio))em;
}

h5 {
  font-size: math($(heading_size)*$(heading_ratio)*$(heading_ratio)*$(heading_ratio)*$(heading_ratio))em;
}

h6 {
  font-size: math($(heading_size)*$(heading_ratio)*$(heading_ratio)*$(heading_ratio)*$(heading_ratio)*$(heading_ratio))em;
}
