#digraph-hero {
  display: block;
  margin: 0;

  .digraph-hero {
    margin: 0;
  }
}

.digraph-hero {
  @include .digraph-block;
  margin-left: -$(spacing_base);
  margin-right: -$(spacing_base);
  position: relative;
  background-position: center center;
  background-color: #999;
  font-size: 1.5em;

  .digraph-actionbar {
    background: #666;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
  }

  &:hover {
    .digraph-actionbar {
      opacity: 1;
    }
  }

  .digraph-hero-overlay-link {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.01);
    overflow: hidden;
    white-space: nowrap;
    text-indent: 100%;
  }

  .digraph-hero-content {
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: $(spacing_base);
  }

  .digraph-hero-main-image {
    background-repeat: no-repeat;
    background-size: contain;
    height: 12em;
    height: 40vh;

    .digraph-hero-content {
      display: none;
    }
  }
}