<div id="digraph-primary-actionbar">
  {% if cms.helper('users').id() %}
    {{cms.helper('actions').html('_user/signedin')|raw}}
  {% else %}
    {{cms.helper('actions').html('_user/guest')|raw}}
  {% endif %}
  {{cms.helper('actions').html(package.noun.dso.id,package.verb)|raw}}
</div>
