{% if config.actions.uiforguests or cms.helper('users').id() %}
  <div id="digraph-primary-actionbar">
    {% if cms.helper('users').id() %}
      <div class="digraph-actionbar digraph-actionbar-user inactive" data-id="_user/signedin"></div>
    {% else %}
      <div class="digraph-actionbar digraph-actionbar-user inactive" data-id="_user/guest"></div>
    {% endif %}
    <div class="digraph-actionbar inactive" data-id="{{package.url.noun}}"></div>
  </div>
{% endif %}
