<div id="digraph-primary-actionbar">
  <div class="digraph-actionbar digraph-actionbar-user"></div>
  <div class="digraph-actionbar digraph-actionbar-noun"
    data-actionbar-noun="{{package.noun.dso.id}}"
    data-actionbar-verb="{{package.url.verb}}">
  </div>
</div>
