@import "/mixins/core.scss";

.media-embed {
    margin: $grid-unit 0;
    background: rgba($color-neutral, 0.1);

    &.fluid-height {
        > .media-container {
            > .media-wrapper {
                > .media-content {
                    position: relative;
                }
            }
        }
    }

    &.media-error {
        .media-container {
            .media-wrapper {
                .media-content {
                    padding: $grid-unit;
                    background: $color-warning;
                    color: contrast-color($color-warning);
                }
            }
        }
    }

    &.stretched {
        margin-left: -$grid-unit;
        margin-right: -$grid-unit;

        .media-container {
            max-width: 100% !important;
            width: 100% !important;
        }

        .media-wrapper,
        .media-wrapper-maxwidth {
            max-width: 100% !important;
            width: 100% !important;
        }

        img {
            width: 100% !important;
            max-width: 100%;
        }
    }

    &.withBackground {
        background: rgba($color-neutral, 0.2);
        padding: $grid-unit;
        margin-left: -$grid-unit;
        margin-right: -$grid-unit;
    }

    &.withBorder {
        background: transparent;

        .media-container {
            border: 2px solid $color-neutral;
        }
    }

    .media-container {
        position: relative;
        max-width: 100%;

        .media-wrapper {
            position: relative;

            .media-content {
                background-color: rgba($color-neutral, 0.1);
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;

                > a {
                    &:after {
                        position: absolute;
                        top: 0;
                        right: 0;
                        background: $color-info;
                        color: contrast-color($color-info);
                        line-height: 1.5em;
                        font-size: 1rem;
                        width: 1.5em;
                        opacity: 0;
                        text-align: center;
                    }

                    &:hover {
                        position: inherit;

                        &:after {
                            opacity: 1;
                        }
                    }
                }
            }
        }

        .media-credit,
        .media-caption,
        .media-extra {
            background: rgba($body-bg, 0.8);
            color: $body-fg;
            padding: $grid-unit/2;
        }

        .media-credit {
            padding-top: 0;
            text-align: right;
            font-size: x-small;
        }

        .media-credit + .media-caption {
            padding-top: 0;
        }

        .media-container {
            margin: 0;
        }
    }
}
