@import '/mixins/core.scss';

body {
    margin: 0;

    >* {
        margin: 0;
        padding: $grid-unit;
    }

    >.action-menu {
        padding: 0;
    }

    >#content {
        >:first-child {
            margin-top: 0;
        }
    }
}

#header {
    padding: $grid-unit/2;
    margin-bottom: $grid-unit*3;

    h1 {
        font-size: xx-large;
        margin: 0;
    }

    a {
        color: inherit;
        text-decoration: none;
    }
}

#navbar {
    padding: $grid-unit/2;
}

.breadcrumb {
    font-size: smaller;
    padding: $grid-unit/2;
    background-color: rgba($color-neutral, 0.2);

    h1 {
        display: none;
    }

    ul,
    li {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
    }

    li {
        display: flex;
        white-space: nowrap;

        a {
            display: inline-block;
            padding: 0.25em;
        }

        &:after {
            display: block;
            content: "/";
            padding: 0.25em;
        }

        &.breadcrumb-current {

            &:after {
                display: none;
            }
        }
    }

    a {
        color: inherit;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

#notifications {
    padding: $grid-unit/2 $grid-unit;

    >h1 {
        display: none;
    }

    >.notification {
        margin: $grid-unit/2 0;
    }
}

.notification {
    background-color: $color-accent;
    color: contrast-color($color-accent);
    padding: $grid-unit/2;

    a {
        color: inherit !important;
        text-decoration: underline !important;
    }

    &.notice {
        background-color: $color-info;
        color: contrast-color($color-info);
    }

    &.confirmation {
        background-color: $color-confirmation;
        color: contrast-color($color-confirmation);
    }

    &.warning {
        background-color: $color-warning;
        color: contrast-color($color-warning);
    }

    &.error {
        background-color: $color-error;
        color: contrast-color($color-error);
    }
}

span.notification {
    padding: 0;
}

#footer {
    font-size: smaller;
    padding: 3*$grid-unit $grid-unit;
}

.attachment-block {
    margin: $grid-unit 0;
    background: $color-highlight;
    color: contrast-color($color-highlight);

    .attachment-link {
        display: block;
        color: inherit !important;
        background: inherit;
        text-decoration: none;
        padding: $grid-unit $grid-unit/2;

        .file-label {
            display: block;
            font-size: larger;
            margin-bottom: $grid-unit/2;
        }

        &:hover {
            text-decoration: underline !important;
        }

        &:before {
            @include material-icon;
            display: inline-block;
            content: '\e24d';
            vertical-align: middle;
            font-size: 5em;
            padding: $grid-unit/2;
            line-height: 1em !important;
        }

        .file-info {
            display: inline-block;
            vertical-align: middle;
            padding: $grid-unit/2 $grid-unit;
        }
    }
}