{% extends '_digraph/base.twig' %}

{% block banner %}{% endblock %}

{% block navigation %}{% endblock %}

{% block body %}
  <div class="layout-column-wrapper cols-1">

    <div id="content" role="main">
      {% include 'partials/notifications.twig' %}
      {% include 'partials/breadcrumb.twig' %}

      {% include 'partials/block.twig'
        with {blockname:'template-content-before'} %}

      <article>

        <h1>{{page_title}}</h1>
        {% include 'partials/block.twig'
          with {blockname:'template-title-after'} %}

        <div class="package-response-content">
          {{package.response.content|raw}}
        </div>

      </article>

      {% include 'partials/block.twig'
        with {blockname:'template-content-after'} %}

    </div>

  </div>

{% endblock %}

{% block footer %}{% endblock %}
