.rich-content-editor__dynamic-editor {
    display: flex;
    position: relative;
    background: $color-neutral;
    border-radius: $border-radius;
    gap: $border-unit;
    border: $border-unit solid $color-neutral;
    overflow: hidden;
    height: 75vh;
}

.rich-content-editor__content-editor {
    flex-basis: 3;
    flex-grow: 1;
    flex-basis: 35em;
    overflow: auto;

    .CodeMirror {
        height: auto;
        border: 0;
        font-size: inherit;
    }

    > textarea {
        border: 0;
        display: block;
        margin: 0;
        border-radius: 0;
    }
}

.rich-content-editor__media-editor {
    flex-basis: 25em;
    overflow: auto;
}

.rich-content-editor__media-editor-frame {
    height: 100%;

    > .tab-interface {
        height: 100%;
        margin: 0;
        .tab-interface-content {
            overflow: auto;
            border-top-right-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
            border-bottom-left-radius: $border-radius;
        }
    }
}

body.no-js {
    .rich-content-editor__dynamic-editor {
        display: none;
    }
}
