.digraph-search-result {
  margin: $(spacing_base) 0;
  line-height: $(line_height_compact);

  a {
    text-decoration: none;
    color: inherit !important;
  }

  .name {
    color: $(color_link);
    font-weight: bold;
    text-decoration: underline;
  }

  .url {
    color: $(color_confirmation);
    font-size: 0.5em;
    font-style: italic;
  }

  .highlight {
    font-size: 0.7em;
    opacity: 0.75;
    overflow: hidden;
    text-overflow: ellipsis;

    em {
      font-weight: bold;
      color: $(color_accent);
    }
  }

  a:visited {
    .name {
      color: $(color_link_visited) !important;
    }
  }

  a:hover {
    .name {
      color: $(color_link_hover) !important;
    }
  }

  a:active {
    .name {
      color: $(color_link_active) !important;
    }
  }
}
