/*
Derived from:
Trix 1.3.1
Copyright © 2020 Basecamp, LLC
http://trix-editor.org/*/

.trix-content {
    font-family: $font-content;
    > * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    .attachment {
        display: inline-block;
        position: relative;
        max-width: 100%;
        margin: $grid-unit 0;
        padding: $grid-unit/2;
        background: $color-neutral;
        color: accent-color($color-neutral);
        a {
            color: inherit !important;
        }
    }

    .attachment__caption {
        text-align: center;
        .attachment__name + .attachment__size::before {
            content: " · ";
        }
    }

    .attachment--preview {
        width: 100%;
        text-align: center;
        .attachment__caption {
            color: #666;
            font-size: 0.9em;
            line-height: 1.2;
        }
    }

    .attachment--file {
        color: #333;
        line-height: 1;
        margin: 0 2px 2px 2px;
        padding: 0.4em 1em;
        border: 1px solid #bbb;
        border-radius: 5px;
    }

    .attachment-gallery {
        display: flex;
        flex-wrap: wrap;
        gap: $grid-unit/2;
        .attachment {
            margin: 0;
        }
    }
}

// .trix-content .attachment-gallery {
//     display: flex;
//     flex-wrap: wrap;
//     position: relative;
//     gap: $grid-unit/2;
// }
// .trix-content .attachment-gallery .attachment {
//     flex: 1 0 25%;
//     max-width: 25%;
// }
// .trix-content .attachment-gallery.attachment-gallery--2 .attachment,
// .trix-content .attachment-gallery.attachment-gallery--4 .attachment {
//     flex-basis: 50%;
//     max-width: 50%;
// }
// .trix-content .attachment-gallery.attachment-gallery--3 .attachment,
// .trix-content .attachment-gallery.attachment-gallery--5 .attachment,
// .trix-content .attachment-gallery.attachment-gallery--6 .attachment {
//     flex-basis: 33%;
//     max-width: 33%;
// }
