form {
    display: block;
    font-family: $font-ui;

    > * {
        &:last-child {
            margin-bottom: 0;
        }

        &:first-child {
            margin-top: 0;
        }
    }
}

button,
input,
select,
textarea,
fieldset {
    font-family: $font-ui;
    font-size: inherit;
    padding: $grid-unit/2;
    box-sizing: border-box;
    display: block;
    border-radius: $border-radius;

    &:disabled,
    &:indeterminate {
        background-color: $color-neutral;
        color: rgba(contrast-color($color-neutral), 0.75);
    }
}

input {
    -webkit-appearance: none;
    appearance: none;
}

input,
select,
textarea,
fieldset {
    border: $border-unit solid $color-neutral;
    background-color: $body-bg;
    color: $body-fg;
    width: 100%;

    @media (prefers-color-scheme: dark) {
        background-color: $dark-body-bg;
        color: $dark-body-fg;
    }
}

textarea {
    height: 30vh;
}

button,
input[type="button"] {
    @include button;
}

input[type="submit"] {
    @include button-confirmation;
}

input[type="checkbox"],
input[type="radio"] {
    display: inline-flex;
    vertical-align: baseline;
    justify-items: center;
    padding: $grid-unit/8;
    margin: 0;
    color: inherit;
    text-align: center;
    width: auto;
    font-size: 1rem;

    &:before {
        @include material-icon;
        display: inline-block;
        content: "\00a0";
        height: 1em;
        width: 1em;
        line-height: 1em;
    }

    &:checked {
        &:before {
            content: "\e5ca";
        }
    }

    &:indeterminate {
        &:before {
            content: "question_mark";
        }
    }
}

input[type="radio"] {
    border-radius: 100%;

    &:checked {
        &:before {
            content: "circle";
            transform: scale(0.9);
        }
    }

    &:indeterminate {
        &:before {
            content: "circle";
            transform: scale(0.9);
            opacity: 0.25;
        }
        background-color: $body-bg;
        color: $body-fg;

        @media (prefers-color-scheme: dark) {
            background-color: $dark-body-bg;
            color: $dark-body-fg;
        }
    }
}

label {
    font-weight: bold;
}

.form-field {
    margin: $grid-unit 0;
}

.form-field--error {
    background: rgba($color-error, 0.1);
    padding: $grid-unit/2;
}

.form-field__tips__tip {
    display: block;
    margin: $grid-unit/2 0;

    &:last-child {
        margin-bottom: 0;
    }
}

.form-field__error-message {
    margin: $grid-unit/2 0;
    font-weight: bold;
    color: $color-error;

    &:last-child {
        margin-bottom: 0;
    }
}

.form-field {
    .checkbox-list,
    .radio-list {
        margin: $grid-unit/2 0;
        &:last-child {
            margin-bottom: 0;
        }
        &:first-child {
            margin-top: 0;
        }
    }
}

.checkbox-list,
.radio-list {
    margin: $grid-unit 0;

    > .form-field {
        margin: $grid-unit/2 0;

        &:last-child {
            margin-bottom: 0;
        }
        &:first-child {
            margin-top: 0;
        }
    }
}

.checkbox-list-field,
.radio-list-field {
    > label {
        font-size: smaller;
    }
}
