@media screen {
    #content {
        p,
        li,
        blockquote,
        dd,
        dt {
            max-width: 35em;
        }
    }
}

@media screen, print {
    #skip-to-content {
        display: none;
    }
}

body {
    background-color: $body-bg;
    color: $body-fg;

    @media (prefers-color-scheme: dark) {
        background-color: $dark-body-bg;
        color: $dark-body-fg;
    }
}

img {
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
}

base64 {
    display: none;
}
