@font-face {
    font-family: "Material Icons";
    font-style: normal;
    font-weight: 400;
    src: url(/mixins/material-icons/MaterialIcons-Regular.woff2) format("woff2"),
        url(/mixins/material-icons/MaterialIcons-Regular.otf) format("truetype");
}

@font-face {
    font-family: "Material Icons Outlined";
    font-style: normal;
    font-weight: 400;
    src: url(/mixins/material-icons/MaterialIconsOutlined-Regular.woff2) format("woff2"),
        url(/mixins/material-icons/MaterialIconsOutlined-Regular.otf) format("opentype");
}

@font-face {
    font-family: "Material Icons Round";
    font-style: normal;
    font-weight: 400;
    src: url(/mixins/material-icons/MaterialIconsRound-Regular.woff2) format("woff2"),
        url(/mixins/material-icons/MaterialIconsRound-Regular.otf) format("opentype");
}

@font-face {
    font-family: "Material Icons Sharp";
    font-style: normal;
    font-weight: 400;
    src: url(/mixins/material-icons/MaterialIconsSharp-Regular.woff2) format("woff2"),
        url(/mixins/material-icons/MaterialIconsSharp-Regular.otf) format("opentype");
}

@font-face {
    font-family: "Material Icons Two Tone";
    font-style: normal;
    font-weight: 400;
    src: url(/mixins/material-icons/MaterialIconsTwoTone-Regular.woff2) format("woff2"),
        url(/mixins/material-icons/MaterialIconsTwoTone-Regular.otf) format("opentype");
}

@font-face {
    font-family: "IcoFont";
    font-weight: normal;
    font-style: "Regular";
    src: url("/mixins/icofont/fonts/icofont.woff2") format("woff2"),
        url("/mixins/icofont/fonts/icofont.woff") format("woff");
}

.icon {
    font-size: 1em;
    line-height: 1;
    speak: none;
}

.icon--material {
    @include material-icon;
}

.icon--icofont {
    @include icofont;
}