img.floated,
picture.floated,
div.floated,
aside.floated,
figure.floated,
#article aside {
  @media(min-width: ($line-length*1.5)) {
    float: right;
    width: 50%;
    max-width: $line-length;
    margin: 0;
    margin-bottom: $grid * 3;
    margin-left: $grid * 3;
  }
}