picture.fancyfit {
    display: block;
    background: #999;

    img {
        display: block;
        width: 100%;
        height: auto;
    }
}

figure {
    background-color: #999;
    font-family: $font-ui;
    box-shadow: var(--shadow);

    >picture {
        box-shadow: none;
        margin: 0 auto;

        >img {
            display: block;
        }
    }

    &.figure--floated {
        width: 50%;
        max-width: $line-length;
        float: right;
        margin-left: $grid;
        margin-bottom: $grid;
        margin-top: $grid;
    }
}

figcaption {
    display: block;
    font-size: smaller;
    padding: $grid/2;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--background-a80);
    color: var(--color);

    >*:first-child {
        margin-top: 0;
    }

    >*:last-child {
        margin-bottom: 0;
    }
}