.tab-interface {
    margin: $grid 0;
    display: flex;
    flex-direction: column;

    .tab-interface-tabs {
        @include uncolored-links;

        margin: 0;
        padding: 0;
        display: flex;
        align-items: flex-end;
        font-family: $font-ui;
        position: relative;
        z-index: 2;
        gap: $border;

        a {
            display: inline-block;
            padding: $grid/2;
            background-color: var(--theme-accent-a20);
            text-decoration: none;
            font-weight: bold;
            position: relative;

            &:hover,
            &:focus,
            &:focus-within {
                background-color: var(--cue-interactive);
                color: var(--cue-interactive-inv);
            }

            &.current-tab {
                margin-bottom: 0;
                background-color: var(--background);
                color: var(--color);
                border: $border solid var(--theme-accent);
                border-top-left-radius: $border-radius;
                border-top-right-radius: $border-radius;
                border-bottom: 0;
                position: relative;

                &:after {
                    background-color: var(--background);
                    content: "";
                    display: block;
                    position: absolute;
                    top: 100%;
                    left: 0;
                    right: 0;
                    height: $border;
                }

                &:first-child {
                    margin-left: 0;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    .tab-interface-content {
        z-index: 1;
        background-color: var(--background);
        color: var(--color);
        padding: $grid/2;
        border: $border solid var(--theme-accent);
        font-family: $font-content;
        position: relative;
        flex-grow: 1;

        :first-child {
            margin-top: 0;
        }

        :last-child {
            margin-bottom: 0;
        }

        .card {
            margin-left: -$grid/2;
            margin-right: -$grid/2;

            &:first-child {
                margin-top: -$grid/2;
            }

            &:last-child {
                margin-bottom: -$grid/2;
            }
        }
    }
}

.tab-interface.tab-interface--vertical {
    flex-direction: row;

    .tab-interface-tabs {
        flex-direction: column;

        a {
            width: 12em;
            display: block;

            &.current-tab {
                margin-right: 0;
                background-color: var(--background);
                color: var(--color);
                border: $border solid var(--theme-accent);
                border-radius: 0;
                border-top-left-radius: $border-radius;
                border-bottom-left-radius: $border-radius;
                border-right: 0;
                position: relative;

                &:after {
                    background-color: var(--background);
                    content: "";
                    display: block;
                    position: absolute;
                    left: 100%;
                    top: 0;
                    bottom: 0;
                    width: $border;
                    height: 100%;
                }

                &:first-child {
                    margin-top: 0;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}