.action-menu {
    @include uncolored-links;

    background: var(--theme-neutral);
    font-size: smaller;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    color: var(--theme-neutral-inv);
    font-family: $font-ui;

    h1 {
        display: none;
    }

    h2 {
        font-size: inherit;
        margin: 0;
        padding: 0;
    }

    nav {
        margin: 0;
    }

    .action-menu__user-actions,
    .action-menu__static-actions,
    .action-menu__page-actions {
        margin: $border;
    }

    .action-menu__user-actions {
        order: -1;
        text-align: right;
    }

    .action-menu__static-actions,
    .action-menu__page-actions {
        display: flex;
        flex-wrap: wrap;
    }

    a {
        display: inline-block;
        vertical-align: baseline;
        white-space: nowrap;
        padding: 0.5em;

        &[href]:hover,
        &.current-page {
            background: rgba(255, 255, 255, 0.8);
            color: #000;
        }
    }

    ul,
    li {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    nav {
        margin: 0;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        align-items: center;
    }

    li.dropdown {
        position: relative;

        >a {
            cursor: pointer;

            &:before {
                @include icofont;
                content: "\ea7d";
            }
        }

        >ul {
            display: none;
            position: absolute;
            min-width: 100%;
            padding: $grid/4;
            box-sizing: border-box;
            top: 100%;
            left: 0;
            background: var(--theme-neutral);

            a {
                display: block;
            }
        }

        &:focus-within,
        &.open {
            >ul {
                display: block;
            }

            >a {
                &:before {
                    content: "\ea6f";
                }
            }
        }
    }
}

.action-menu--user-menu {
    flex-direction: row-reverse;
}

.action-menu__user-actions--guest {

    h2,
    nav,
    ul {
        display: inline-block;
    }

    h2 {
        &:before {
            content: "Welcome, ";
        }
    }
}

.action-menu__user-actions--signedin {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;

    h2 {
        display: inline-block;
    }

    h2 {
        a {
            text-decoration: none;
        }

        &:before {
            content: "Welcome, ";
        }
    }

    .profile-link {
        display: none;
    }

    ul {
        justify-content: flex-end;
    }
}