.data-table {
    max-width: 100%;

    table {
        width: 100%;
        background: var(--background-light);
        border-bottom: $border solid var(--background-dark);
    }

    .notification {
        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    .column-sorter {

        .column-sort {
            font-size: 0;
            display: none;
            color: inherit;
            text-decoration: none !important;
            vertical-align: baseline;

            &:hover {
                transform: scale(1.25);
            }

            &:after {
                @include material-icon;
                font-size: $grid;
                content: '\ead0';
                vertical-align: baseline;
            }

            &.column-sort-asc {
                &:after {
                    content: '\eacf';
                }
            }

            &.column-sort-clear {
                &:after {
                    content: 'clear';
                }
            }
        }
    }

    th.unsorted {

        .column-sort-asc,
        .column-sort-desc {
            display: inline-block;
        }
    }

    th.sorted-asc {

        .column-sort-desc,
        .column-sort-clear {
            display: inline-block;
        }
    }

    th.sorted-desc {

        .column-sort-asc,
        .column-sort-clear {
            display: inline-block;
        }
    }

    .paginator-status {
        display: block;
        font-style: italic;
    }

    col {
        &.sorted {
            background: var(--cue-interactive-a10);
        }
    }
}

.data-table__top,
.data-table__bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    gap: $grid;

    >* {
        margin: 0 !important;
    }
}

.data-table__top {
    >* {
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }
}

.data-table__bottom {
    align-items: flex-start;

    >* {
        border-top-left-radius: 0 !important;
        border-top-right-radius: 0 !important;
    }
}

.data-table__download {
    min-height: 0 !important;

    .notification,
    .button {
        margin: 0;
        padding: $grid/4 $grid/2;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    a {
        white-space: nowrap;
    }
}