body {
    margin: 0;

    > .action-menu {
        padding: 0;
    }

    > #content {
        > :first-child {
            margin-top: 0;
        }
    }
}

body > .action-menu,
#header,
#navbar,
#breadcrumb,
#notifications {
    margin: 0;
}

#header {
    @include uncolored-links;

    padding: $grid-unit/2;
    margin-bottom: $grid-unit * 3;

    h1 {
        font-size: xx-large;
        margin: 0;
    }
}

#navbar {
    padding: $grid-unit/2;
}

.breadcrumb {
    @include uncolored-links;

    font-size: smaller;
    padding: $grid-unit/2;
    background-color: rgba($color-neutral, 0.2);
    font-family: $font-ui;

    h1 {
        display: none;
    }

    ul,
    li {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
    }

    li {
        display: flex;
        white-space: nowrap;

        a {
            display: inline-block;
            padding: 0.25em;
        }

        &:after {
            display: block;
            content: "/";
            padding: 0.25em;
        }

        &.breadcrumb-current {
            &:after {
                display: none;
            }
        }
    }
}

#notifications {
    padding: 0 $grid-unit;

    > h1 {
        display: none;
    }

    > .notification {
        margin: $grid-unit/2 0;
    }
}

.notification {
    @include uncolored-links;

    background-color: $color-accent;
    color: contrast-color($color-accent);
    padding: $grid-unit/2;
    font-family: $font-ui;
    border-radius: $border-radius;

    &.notification--notice {
        background-color: $color-info;
        color: contrast-color($color-info);
    }

    &.notification--confirmation {
        background-color: $color-confirmation;
        color: contrast-color($color-confirmation);
    }

    &.notification--warning {
        background-color: $color-warning;
        color: contrast-color($color-warning);
    }

    &.notification--error {
        background-color: $color-error;
        color: contrast-color($color-error);
    }
}

span.notification {
    padding: 0;
}

#content {
    margin: 0;
    padding: $grid-unit;
}

#footer {
    font-size: smaller;
    padding: 3 * $grid-unit $grid-unit;
}
