body {
    margin: 0;

    >.action-menu {
        padding: 0;
    }

    >#content {
        > :first-child {
            margin-top: 0;
        }
    }
}

body>.action-menu,
#header,
#navbar,
#breadcrumb,
#notifications {
    margin: 0;
}

#header {
    @include uncolored-links;

    padding: $grid*2 $grid;
    background: var(--theme-accent);
    color: var(--theme-accent-inv);

    h1 {
        font-size: 1.5rem;
        margin: 0;
    }
}

#navbar {
    padding: $grid/2;
}

.breadcrumb {
    @include uncolored-links;

    font-size: smaller;
    padding: $border $grid;
    background-color: var(--theme-neutral-a20);
    font-family: $font-ui;

    h1 {
        display: none;
    }

    ul,
    li {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
    }

    li {
        display: flex;
        white-space: nowrap;

        a {
            display: inline-block;
            padding: 0.25em;
        }

        &:after {
            display: block;
            content: "/";
            padding: 0.25em;
        }

        &.breadcrumb-current {
            &:after {
                display: none;
            }
        }
    }
}

#notifications {
    padding: 0 $grid;

    >h1 {
        display: none;
    }

    >.notification {
        margin: $grid/2 0;
    }
}

.notification {
    @include uncolored-links;

    background-color: var(--theme-highlight);
    color: var(--theme-highlight-inv);
    padding: $grid/2;
    font-family: $font-ui;
    border-radius: $border-radius;

    &.notification--notice {
        background-color: var(--cue-information);
        color: var(--cue-information-inv);
    }

    &.notification--confirmation {
        background-color: var(--cue-safe);
        color: var(--cue-safe-inv);
    }

    &.notification--warning {
        background-color: var(--cue-warning);
        color: var(--cue-warning-inv);
    }

    &.notification--error {
        background-color: var(--cue-danger);
        color: var(--cue-danger-inv);
    }
}

span.notification {
    padding: 0;
}

#content {
    margin: 0;
    padding: $grid;
    > h1 {
        font-size: 3rem;
        padding-bottom: $grid;
        border-bottom: $grid solid var(--theme-neutral-a20);
    }
}

#footer {
    font-size: smaller;
    padding: 3 * $grid $grid;
    background: var(--background-dark);

    &.footer--fixed {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
    }
}