.menubar {
    @include uncolored-links;
    background-color: var(--theme-neutral);
    color: var(--theme-neutral-inv);
    font-family: $font-ui;
    display: flex;
    line-height: 1;
    box-sizing: border-box;

    >* {
        padding: $grid/2;
    }
}

#main-nav {
    background-color: var(--theme-highlight);
    color: var(--theme-highlight-inv);
}

.menuitem {
    position: relative;
    padding: 0;
    box-sizing: border-box;

    a.menuitem__link {
        display: block;
        padding: $grid/2;
        text-decoration: none;
        font-weight: normal;
    }

    .menuitem__link {

        &:before,
        &:after {
            @include material-icon;
            display: none;
            text-decoration: none !important;
            margin-left: 0.25em;
            font-weight: bold;
            vertical-align: middle;
            transform: translateY(-0.125em);
        }
    }

    &.menuitem--current {
        opacity: 0.5;
    }

    &.menuitem--current-parent {
        opacity: 0.5;
    }

    &:hover,
    &:focus,
    &:focus-within,
    &.menuitem--focus,
    &.menuitem--open {
        opacity: 1;

        >a.menuitem__link {
            background-color: var(--background);
            color: var(--color);
        }
    }

    &:hover,
    &:focus,
    &.menuitem--focus {
        >a.menuitem__link {
            &:link {
                text-decoration: underline;
            }
        }
    }

    &:active,
    &.menuitem--active {
        >.menuitem__link {
            background-color: var(--background-lighter);
            color: var(--color);
        }
    }

    .menuitem__dropdown {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        min-width: 100%;
        padding: $grid/2;
        box-shadow: var(--shadow);
        background-color: var(--background-dark);
        color: var(--color);
        z-index: 100;
        box-sizing: border-box;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-size: inherit;
            margin: 0;
        }

        h1 {
            font-size: larger;
        }

        h2 {
            margin-top: $grid;
        }

        .button-menu {
            margin: 0;
        }

        >*:first-child {
            margin-top: 0;
        }

        >*:last-child {
            margin-bottom: 0;
        }

        .navigation-frame {
            >*:first-child {
                margin-top: 0;
            }

            >*:last-child {
                margin-bottom: 0;
            }
        }

        >.menubar {
            margin: -$grid/2;
        }
    }

    &:last-child {
        .menuitem__dropdown {
            left: auto;
            right: 0;
        }
    }
}

/* styles for displaying dropdowns */
.menuitem--dropdown {
    >.menuitem__link {
        &:after {
            display: inline-block;
            content: "expand_more";
            font-size: 1rem;
            line-height: 0;
        }
    }

    &:hover,
    &:focus,
    &:focus-within,
    &.menuitem--focus,
    &.menuitem--open {
        >.menuitem__dropdown {
            display: block;
        }
    }

    // give actually hovered/focused dropdown a slightly higher z index
    &:hover,
    &:focus,
    &:focus-within,
    &.menuitem--open {
        >.menuitem__dropdown {
            z-index: 101;
        }
    }
}

/* styling for nested dropdowns */
.menuitem {
    .menubar {
        margin: -$grid/2;
        flex-direction: column;
    }
}

/* styling for overflowed/mobile */
.menubar--overflowed__toggle {
    display: none;

    .menuitem__link {
        cursor: pointer;

        &:after {
            display: inline-block;
            content: "menu" !important;
        }
    }
}

.menubar.menubar--overflowed {
    flex-direction: column;
    height: auto !important;

    .menuitem__dropdown {
        position: relative !important;
        margin-left: $grid;
        min-width: auto;
        box-shadow: none;
    }

    .menuitem {
        height: 0;
        overflow: hidden;
    }

    .menubar--overflowed__toggle {
        display: block;
        height: auto;
        overflow: visible;
    }

    &.menubar--overflowed--open {
        .menuitem {
            height: auto;
            overflow: visible;
        }

        .menubar--overflowed__toggle {
            border-bottom: $border solid var(--cue-interactive) !important;

            .menuitem__link {
                &:after {
                    content: "close" !important;
                }
            }
        }
    }
}

/* styles for vertical display */
.menubar.menubar--vertical {
    flex-direction: column;
    height: auto !important;
    background-color: transparent;
    color: inherit;
    border: $border/2 solid var(--theme-neutral-a50);

    .menubar {
        background-color: transparent;
        color: inherit;

        .menuitem>.menuitem__link {
            border-left: 0;
            border-right: 0;
            border-top: 0;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }

    .menuitem__dropdown {
        margin-left: 0;
        position: relative !important;
        min-width: auto;
        box-shadow: none;
        background-color: var(--theme-neutral-a50);
        border: $border/2 solid var(--theme-neutral-a50);
        border-left: $grid/2 solid var(--theme-neutral-a50);
    }

    .menuitem {
        height: auto;
        line-height: 1.4em;
        font-size: inherit;

        >.menuitem__link {
            border: $border/2 solid var(--theme-neutral-a50);
        }

        &.menuitem--current,
        &.menuitem--current-parent {
            opacity: 1;

            >.menuitem__link {
                background-color: var(--background-lighter);
                color: var(--cue-interactive);
                font-weight: bold;
            }

            >.menuitem__dropdown {
                background-color: var(--cue-interactive);
            }
        }
    }

    .menubar--overflowed__toggle {
        display: none;
    }

    .menubar--overflowed__toggle {
        border-bottom: $border solid var(--cue-interactive) !important;

        .menuitem__link {
            &:after {
                content: "close" !important;
            }
        }
    }
}

/* manual-toggle menu items */
.menuitem--dropdown--manual-toggle {
    position: relative;

    >.menuitem__link {
        padding-left: $grid*2  !important;

        &:after {
            display: none !important;
        }
    }

    >.menuitem--dropdown__toggle {
        position: absolute;
        top: $grid/2;
        left: $grid/2;
        width: 1.4em;
        height: 1.4em;
        text-decoration: none !important;
        text-align: center;
        line-height: $grid;
        cursor: pointer;

        &:hover {
            background-color: var(--cue-interactive-bright) !important;
            color: var(--cue-interactive-inv) !important;
        }

        &:before {
            @include material-icon;
            content: 'unfold_more';
            line-height: 1.4em !important;
        }
    }

    >.menuitem__dropdown {
        display: none !important;
    }

    &.menuitem--open {
        >.menuitem__dropdown {
            display: block !important;
        }

        >.menuitem--dropdown__toggle:before {
            content: 'unfold_less';
        }
    }
}