#bodyTable {
    background-color: $background-darker;
    color: $color;

    td,
    th {
        padding: 0;
    }
}

#emailTable {
    background-color: $background;
    color: $color;
    border: $border solid $theme-neutral;

    td {
        color: $color;
    }
}

#headerTable {
    background: $theme-accent;
    color: $theme-accent-inv;
    font-family: $font-ui;

    td {
        color: $theme-accent-inv;
    }

    a {
        color: inherit;
    }

    >tr>td>* {
        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

#contentTable {
    font-family: $font-content;
    padding: 10px 0;

    td {
        padding: 10px;
        background-color: $background;
    }

    a {
        color: $link-normal;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: $font-header;
    }

    >tr>td>* {
        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

#footerTable {
    background: $theme-neutral;
    color: $theme-neutral-inv;
    font-family: $font-ui;
    font-size: 0.75em;
    padding: 10px 0;

    td {
        padding: 10px 20px;
        color: $theme-neutral-inv;
    }

    a {
        color: inherit;
    }

    >tr>td>* {
        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

#emailIDCell {
    font-family: $font-code;
    color: $theme-neutral-darker;
}

.button {
    display: block;
    box-sizing: border-box;
    background: $cue-interactive;
    color: $cue-interactive-inv !important;
    box-shadow: $shadow;
    border: $border outset $cue-interactive;
    display: inline-block;
    padding: $grid/2;
    margin: 0;
    cursor: pointer;
    z-index: 1;
    border-radius: $border-radius;
    font-size: 1rem;
    line-height: 1.4;
    font-weight: bold;
    font-family: $font-ui;
    text-decoration: none !important;
    width: auto;

    &.button--small {
        padding: $grid/4;
        font-size: smaller;
        border-width: $border/2;
    }

    &.button--confirmation,
    &.button--safe {
        background: $cue-safe;
        color: $cue-safe-inv !important;
        border-color: $cue-safe !important;
    }

    &.button--info &.button--information {
        background: $cue-information;
        color: $cue-information-inv !important;
        border-color: $cue-information !important;
    }

    &.button--warning {
        background: $cue-warning;
        color: $cue-warning-inv !important;
        border-color: $cue-warning !important;
    }

    &.button--error,
    &.button--danger {
        background: $cue-danger;
        color: $cue-danger-inv !important;
        border-color: $cue-danger !important;
    }

    &.button--neutral {
        background: $theme-neutral;
        color: $theme-neutral-inv !important;
        border-color: $theme-neutral !important;
    }

    &.button--inverted {
        background: $theme-neutral-a10;
        color: $cue-interactive !important;
        border-color: $theme-neutral-a10 !important;
        box-shadow: none;
        border-style: inset;

        &.button--confirmation,
        &.button--safe {
            color: $cue-safe !important;
        }

        &.button--info,
        &.button--information {
            color: $cue-information !important;
        }

        &.button--warning {
            color: $cue-warning !important;
        }

        &.button--error,
        &.button--danger {
            color: $cue-danger !important;
        }

        &.button--neutral {
            color: $theme-neutral !important;
        }
    }
}

code {
    font-family: $font-code;
}