#bodyTable {
    background-color: $background-darker;
    color: $color;

    td,
    th {
        padding: 0;
    }
}

#emailTable {
    background-color: $background;
    color: $color;
    border: $border solid $theme-neutral;

    td {
        color: $color;
    }
}

#headerTable {
    background: $theme-accent;
    color: $theme-accent-inv;
    font-family: $font-ui;

    td {
        color: $theme-accent-inv;
    }

    a {
        color: inherit;
    }

    >tr>td>* {
        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

#contentTable {
    font-family: $font-content;
    padding: 10px 0;

    td {
        padding: 10px 20px;
    }

    a {
        color: $link-normal;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: $font-header;
    }

    >tr>td>* {
        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

#footerTable {
    background: $theme-neutral;
    color: $theme-neutral-inv;
    font-family: $font-ui;
    font-size: 0.75em;
    padding: 10px 0;

    td {
        padding: 10px 20px;
        color: $theme-neutral-inv;
    }

    a {
        color: inherit;
    }

    >tr>td>* {
        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

#emailIDCell {
    font-family: $font-code;
    color: $theme-neutral-darker;
}

.button {
    display: block;
    margin: 20px 0;
    font-family: $font-ui;
    border-radius: $border-radius;
    padding: 20px;
    background-color: $cue-interactive;
    color: $cue-interactive-inv !important;
}

code {
    font-family: $font-code;
}