picture.fancyfit {
  display: block;
  background: #999;
  box-shadow: var(--shadow);
  border: $border solid var(--theme-neutral-a50);
  width: fit-content;

  img {
    display: block;
    width: auto;
    max-width: 100%;
    height: auto;
  }
}

figure {
  background-color: #999;
  font-family: $font-ui;
  box-shadow: var(--shadow);
  max-width: $line-length*1.5;

  >* {
    border: $border solid var(--theme-neutral);
  }

  >picture {
    box-shadow: none;
    margin: 0 auto;
  }

  &.figure--floated {
    width: 50%;
    max-width: $line-length;
    float: right;
    margin-left: $grid;
    margin-bottom: $grid;
    margin-top: $grid;
  }
}

figcaption {
  display: block;
  font-size: smaller;
  padding: $grid/2;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--background-a80);
  color: var(--color);
  border: 0;

  >*:first-child {
    margin-top: 0;
  }

  >*:last-child {
    margin-bottom: 0;
  }
}