aside {
  background: $background-dark;
  padding: $grid;
  box-shadow: $shadow;
  box-sizing: border-box;
  max-width: $line-length;
  border-left: $border solid $theme-neutral;
  margin: ($grid * 3) 0;

  >h1 {
    margin-left: -$grid;
    margin-right: -$grid;
    background: $theme-neutral;
    color: $theme-neutral-inv;
    padding: $grid;

    &:first-child {
      margin-top: -$grid;
    }
  }

  >* {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &.aside--accent {
    border-color: $cue-accent;

    >h1 {
      background: $cue-accent;
      color: $cue-accent-inv;
    }
  }

  &.aside--info,
  &.aside--information,
  &.aside--notice {
    border-color: $cue-information;

    >h1 {
      background: $cue-information;
      color: $cue-information-inv;
    }
  }

  &.aside--confirmation,
  &.aside--safe {
    border-color: $cue-safe;

    >h1 {
      background: $cue-safe;
      color: $cue-safe-inv;
    }
  }

  &.aside--warning {
    border-color: $cue-warning;

    >h1 {
      background: $cue-warning;
      color: $cue-warning-inv;
    }
  }

  &.aside--error,
  &.aside--danger {
    border-color: $cue-error;

    >h1 {
      background: $cue-error;
      color: $cue-error-inv;
    }
  }
}